$section-inner-width: 800px;

.single {
  font-size: 18px;
  line-height: 1.4;
  @include mq($bp2){
    font-size: 20px;
    line-height: 1.5;
  } 
  section{
    padding-top: 40px;
    padding-bottom: 40px;
    @include mq($bp1){
      padding-top: 80px;
      padding-bottom: 80px;
    } 
  }
  header {
    clear: both;
    padding-top: 40px;
    padding-bottom: 0;
    @include mq($bp1) {
      padding-top: 80px;
    } 
  }
  
  header.bg-img,
  header.bg-color {
    padding-bottom: 40px;
    @include mq($bp1){
      padding-bottom: 80px;
    } 
  }

  section:first-of-type{
    padding-top: 40px;
  }
  .bg-img + section:first-of-type,
  .bg-color + section:first-of-type {
    @include mq($bp1) {
      padding-top: 80px;
    } 
  }

  
  // .inverted {
  //   h1,h2,h3,h4,p,li,a {
  //     color:$white-color;
  //     border-bottom-color: $white-color;
  //   }
  // }
  p {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .align-center {
    text-align: center;
  }
  .em,
  .em > * {
    font-style:italic;
    font-weight: 300 !important;
    // -webkit-font-smoothing: auto;
    // -moz-osx-font-smoothing: auto;
  }
}

//br
p + br {
  display: none;
}

.section-inner + .section-inner { //troche eksperyment, dlatego ze zabiera margin p jesli p jest ostatnie w section-inner
  margin-top: 30px;
}

.section-inner.outset + .section-inner,   //gdy outset jest w srodku, dotyczy tekstu, zobaczymy jak bedzie img
.section-inner + .section-inner.outset {
  margin-top: 30px;
  @include mq($bp1){
    margin-top: 60px;  
  } 
  
}

// section > :last-child, //ten wiersz glownie do fullwidth
.section-inner > :last-child {
  margin-bottom: 0;
}

.section-inner {
  max-width: $section-inner-width;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  @include mq($bp1){
    padding-left: 40px;
    padding-right: 40px;
  } 
  @include mq($bp2) {
    // width: 800px;
  } 
}
.section-inner {
  &.outset {  
    max-width: $max-width;
  }
  &.outset-img {
    // max-width: $max-width;
    max-width: 1000px; //max-width(1080) - 40 pd 40 pd
    max-width:calc(#{$max-width} - 80px); //odejmuje padding
    padding: 0;
  }
  &.fullwidth,
  &.fullwidth-pad {
    max-width: none;
    margin-top: 40px;
    margin-bottom: 40px;
    @include mq($bp1){
      margin-top: 80px;
      margin-bottom: 80px;  
    } 
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.fullwidth {
    padding: 0;
  }

}








//heading
.single {
  h1, .h1 {
    position: relative;
    // font-size: 40px;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.1;
    color: rgba(#000,.8);
    margin-top: 20px;
    margin-bottom: 12px;
    @include mq($bp1) {
      font-size: 40px;
    } 
    @include mq($bp2) {
      font-size: 50px;
      line-height: 1;
      margin-top: 40px;
      margin-bottom: 16px;
    } 
  }

  h2, .h2 {
    // font-size: 34px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
    color: rgba(#000,.8);
    @include mq($bp1) {
      font-size: 34px;
    } 
    @include mq($bp2) {
      font-size: 40px;
      line-height: 1;
    } 
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 12px;
    @include mq($bp2){
      margin-top: 40px;
      margin-bottom: 16px;
    } 
  }
  h3, .h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: rgba(#000,.8);
    @include mq($bp1){
      font-size: 28px;
    } 
    @include mq($bp2) {
      font-size: 34px;
    } 
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 6px;
    @include mq($bp2){
      margin-top: 40px;
      margin-bottom: 10px;
    } 
  }
  h4, .h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    color: rgba(#000,.45);
    @include mq($bp2){
      font-size: 30px;
    } 
  }
  h4 {
    margin-top:20px;
    margin-bottom: 2px;
    @include mq($bp2){
      margin-top: 40px;
    } 
  }
  h1+h4 {
    margin-top: -16px;
    @include mq($bp2){
      // margin-top: -24px;
    } 
  }

  h3+h2,
  h4+h2,
  h4+h1 {
    margin-top: -4px;
    @include mq($bp2) { 
      // margin-top: -4px;
    }
  }
  h2+h3,
  h2+h4 {
    margin-top: -8px;
    @include mq($bp2){
      margin-top: -12px;
    } 
  }
  h3+h4,
  h4+h3 {
    margin-top: -6px;
  }
  
  h1:first-child, .h1:first-child,
  h2:first-child, .h2:first-child,
  h3:first-child, .h3:first-child,
  h4:first-child, .h4:first-child
  {
    margin-top: 0;
  }

}





//lists
.single ul,
.single ol,
.content ul,
.content ol {
  counter-reset: post;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      position: absolute;
      left: 0;

    }
  }
}

.single,
.content {
  ul {
    &>li:before {
      content:'\2022';   
      padding-top: 1px;
      padding-left: 4px;
    }
  }
  ol {
    &>li:before {
      counter-increment: post;
      content: counter(post) ".";
      padding-left: 4px;
    }
  }
  li > ul,
  li > ol,
  {
  margin-top:10px;
  
  }
}


.single {
 h2+ul, h2+ol,
 h3+ul, h3+ol,
 h4+ul, h4+ol {
  margin-top: 10px;
 } 
 h2+figure,
 h3+figure,
 h4+figure {
  margin-top: 15px;
 }
}









// section colors
  .bg-blue {
    background: $primary-color;
  }
  .bg-grey {
    background: #f1f1f1;
    // color:$white-color; 
  }
  .single {
    .color-inverted {
        color:$white-color;
      h1,h2,h3,h4,p,li,a,.h2,.h3,.h4 {
        color:$white-color;
        border-bottom-color: $white-color;
      }
      .color-lighter {
        color:#999;
      }
    }
    .color-lighter {
      color:#999;
    }
  }







  //vertical align
.single { 
  .align-middle,
  .align-top,
  .align-bottom {
    // @include mq($bp2){   //sprawdzic to bo zmienilem gdyz posypalo sie statyczne rzeczy
    // @include mq($bp1) {   
      display: flex;  
    // }    
  }
  .columns.align-middle,
  .columns.align-top,
  .columns.align-bottom {
    display: block;
    @include mq($bp1){
      display: flex;
    } 
  }

}  
  .align-middle {
    align-items:center;
  }
  .align-top {
    align-items: flex-start;
  }
  .align-bottom {
    align-items: flex-end;
  }


  .bg-shade,
  .bg-shade-more {
    position: relative;
    &:before {
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background:rgba(#000,.4);
    }
    > .section-inner {
      position: relative;
      z-index: 1;
    }
  }
  .bg-shade-more {
    &:before {
      background:rgba(#000,.6);
    }
  }


//images
.section-inner {
  figure {
    text-align: center;
    position: relative;
    clear: both;
    margin-bottom: 30px;
    &.img-left,
    &.img-right {
      width: 50%;
      margin-top: 10px;
      margin-bottom: 20px;
      @include mq($max-width){
        margin-bottom: 10px;  
      }
      
    }
    &.img-left,
    &.img-left-outset {
      float: left;
      margin-right: 30px;

    }
    &.img-left-outset {
      width: 100%;
      float: none;
      margin-bottom: 20px;
      margin-top: 10px;
      @include mq($max-width) {
        float: left;
        width: 75%;
        margin-bottom: 10px;
        margin-left: -140px;  //max-width - section-inner-width / 2 = (1080-800)/2 = 140
        margin-left: calc((#{$max-width} - #{$section-inner-width}) / (-2));
        
      } 
      figcaption {
        @include mq($max-width) {
          position: relative;
          width: 100%;
          text-align: center;
          left: 0;
          margin-top: 10px;
          &:before {
            content:none;
          }
        }
      }
    }
    &.img-right {
      float: right;
      margin-left: 30px;
      figcaption {
        @include mq($max-width) {
          left: auto;
          right: -172px;
          text-align: left;
          &:before {
            margin-left: auto;
            margin-right: 75%;
          }
        } 
      }
    }
  }

  figcaption {
    position: relative;
    width: 100%;
    text-align: center;
    left: 0;
    margin-top: 10px;
    top: 0;
    letter-spacing: .01rem;
    font-weight: 300;
    font-style: italic;
    font-size: 13px;
    line-height: 1.4;
    color: rgba(0,0,0,0.6);
    outline: 0;
    @include mq($max-width) {
      position: absolute;
      margin-top: 0;
      text-align: right;
      width: 150px;
      left: -172px;
      &:before {
        width: 25%;
        margin-left: 75%;
        border-top: 1px solid rgba(0,0,0,0.15);
        display: block;
        content: "";
        margin-bottom: 10px;
      }
    } 
  }
  &.fullwidth,
  &.fullwidth-pad,
  &.outset-img {
    img {
      width: 100%;
    }
    figcaption {
      position: relative;
      width: 100%;
      text-align: center;
      left: 0;
      margin-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      &:before {
        content:none;
      }
      @include mq($max-width) {
        padding-left: 0;
        padding-right: 0;
      } 
    }
  } 
  &.fullwidth,
  &.fullwidth-pad {
    figcaption {
      max-width: $max-width;
      margin-left: auto;
      margin-right: auto;
    }
  } 
}

figure.bordered {
  border:4px solid #eee;
  border-radius:4px;
}


.bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // min-height: 500px;
}

//bg section height
  .bg-height-1 {
    min-height: 300px;
    @include mq($bp1) {
      min-height: 500px;  
    } 
    
  }

  .bg-height-2 {
    min-height: 400px;
    @include mq($bp1){
      min-height: 600px;  
    } 
  }
  

  .bg-height-3 {
    min-height: 500px;
    @include mq($bp1){
      min-height: 800px;  
    } 
  }


// kolumny tekstu

.columns-text-2 {
  @include mq($bp1){ 
    -webkit-column-count:2;
    column-count:2;
    font-size: 18px;
    -webkit-column-gap:50px;
    column-gap:50px;
  }  
}

.columns-text-3 {
  @include mq($bp1){ 
    // width:130%;
    // margin-left: -15%;
    // margin-right: -15%;
    -webkit-column-count:3;
    column-count:3;
    font-size: 16px;
    -webkit-column-gap:30px;
    column-gap:30px;
  }  
}


.columns-rule {
  @include mq($bp1){
    -webkit-column-rule: 3px dotted #ddd;
    column-rule: 1px dotted #ddd;
  } 
}

//font size, glownie po to by zmienic text na kolumny, ale moze nie byc konieczne
.single {
  .font-size-16 {
    @include mq($bp1) {
      font-size: 16px;
    } 
  }

  .font-size-18 {
    @include mq($bp1) {
      font-size: 18px;
    } 
  }

  .font-size-20 {
    @include mq($bp1){
      font-size: 20px;
    } 
  }

  .font-size-large {
    @include mq($bp2){
      font-size: 28px;
      line-height: 1.4;
    } 
  }
}

// LINEHEIGHTS
.single {
  .line-height-smaller {
  line-height: 1.2;
  }

  .line-height-small {
    line-height: 1.4;
  }

  .line-height-normal {
    line-height: 1.6;
  }

  .line-height-large {
    line-height: 1.8;
  }

  .line-height-huge {
    line-height: 2;
  }  
}




// kolumny text image lub text sam
// .single {
  .columns {
      margin-bottom: 30px;
    @include mq($bp1) { 
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .column-1,
    .column-2 {
      @include mq($bp1){
        width: 48%; 
      } 
    }
    .column-1 {
      margin-bottom: 30px;
      @include mq($bp1) {
        margin-bottom: 0;
      } 
    }
    &.column-1--1of4 {
      .column-1 {
        @include mq($bp1) {
          width: 25%;
        }
      } 
    }
    &.column-2--3of4 {
      .column-2 {
        @include mq($bp1) {
          width: 70%;
        } 
      }
    }
    
    &.column-1--1of3 {
      .column-1 {
        @include mq($bp1) {
          width: 33%;
        }
      } 
    }
    &.column-2--2of3 {
      .column-2 {
        @include mq($bp1) {
          width: 60%;
        } 
      }
    }

    //50% to standard , czyli bez niczego to po 50, jesli tylko jedno ustawie, drugie zostaje 50%
    
    &.column-1--2of3 {
      .column-1 {
        @include mq($bp1) {
          width: 60%;
        }
      } 
    }
    &.column-2--1of3 {
      .column-2 {
        @include mq($bp1) {
          width: 33%;
        } 
      }
    }

    &.column-1--3of4 {
      .column-1 {
        @include mq($bp1) {
          width: 70%;
        }
      } 
    }
    &.column-2--1of4 {
      .column-2 {
        @include mq($bp1){
          width: 25%;
        } 
      }
    }

    //usuniecie marzy z figure gdy na duzym
    figure

    {
      @include mq($bp1){
        margin-bottom: 10px;
        margin-top: 10px;
      } 
    } 
  }

.columns-3 {
  .column-1,
  .column-2,
  .column-3 {
    @include mq($bp1){
      width: 32%;
    } 
  }
}


//order do flex
.order-1 {
  @include mq($bp1) { 
    order:-1;
  }
}

//blockquotes
blockquote {
  &.pullquote {
    margin:43px 0;
    padding: 0;
    // padding-left: 20px;
    // margin-left: -20px;
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    border: none;
    letter-spacing: .01rem;
    font-weight: 300;
    font-style: italic;
    background: none;
    @include mq($bp2) {
      font-size: 32px; //wtedy gdy jest zmiana p z 20 na 22
    } 
    @include mq($max-width) {
      margin: 48px -150px;
      // font-size: 32px;
      padding: 0;
    }  
  }
  &.pull-right {   
    width: 100%;
    @include mq($bp1) {
      line-height: 1.4;
      float: right;
      margin-bottom: 20px;
      margin-left: 30px;
      width: 40%;
    }
    @include mq($bp2) {
      margin-right: -150px; 
    } 
  }
  &.no-quote {
    background: none;
  }
}


//aspect ratio
.aspect-ratio {
  display: block;
  position: relative;
  width: 100%;
  // background: #eee;
  outline:none;
  
  // > img, > div {
  img, > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}




// empty paragraph br
h1 + .p--empty,
h2 + .p--empty,
h3 + .p--empty,
h4 + .p--empty
 {
  margin-top: -7px;
  margin-bottom: -7px;
 }

h2 + .p--empty + h2,
h3 + .p--empty + h2,
h4 + .p--empty + h2 {
    margin-top: -5px;
}
h2 + .p--empty + h3,
h3 + .p--empty + h3,
h4 + .p--empty + h3,
h2 + .p--empty + h4,
h3 + .p--empty + h4,
h4 + .p--empty + h4 {
    margin-top: -8px;
}