
.block-heading {
  position: relative;
  background: #0C216C;
  width: 100%;
  padding: 70px 20px;
  &:before {
    @include mq($bp3){
      content:'';
      width: 250px;
      height: 250px;
      position: absolute;
      // background:tint($link-color,50);
      background:url(../images/pattern.svg) 0 0 no-repeat;
      left: -250px;
      bottom: 0;
    }  
  }
  @include mq($bp1) {
    // padding: 0 100px;
  } 
  @include mq($bp2) {
    padding: 0 100px;
    width: 50%;
    display: flex; //do wysrodkowania tekstu
    order:-1;
  } 
  @include mq($bp3) {
    height: 500px;
  } 
  h2 {
    color:#fff;
    text-align: center;
  }
}

.block-img {
  display: inline-block;
  max-width: 500px;
}


.block-text {
  font-size:18px;
  padding: 50px 0;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  @include mq($bp2) {
    max-width: none;
    padding:100px 50px;
  } 
}

.index .block-text {
  background:#fff;
  // text-align: left;
  @include mq($bp2){
    order:2;
  } 
  @include mq($bp3) {
    margin-top: -250px;
  } 
}

.uslugi .block-text{
  position: relative;
  // &:before {
  //   @include mq($bp2){
  //     content:'';
  //     position: absolute;
  //     top: -125px;
  //     background:url(../images/pattern.svg) 0 0 no-repeat;
  //     width: 500px;
  //     height: 250px;
  //     left: -125px;
  //     opacity: .7;
  //   }
  // }
  &:first-child {
    padding-top: 0;
    @include mq($bp2){ 
      padding-right: 100px;
      padding-left: 0;
      &:before {
        // content:'';
        position: absolute;
        background:#f8f8fd;
        z-index: -1;
        width: 125px;
        height: 125px;
        left: 0;
        top: -50px;
      }
    }
  }
  &:last-child {
    padding-bottom: 0;
  }
}


.block-img-1 {
    position: relative;
    margin-bottom: 50px;
    &:before,
    &:after {
      @include mq($bp3){
        content:'';
        width: 250px;
        height: 250px;
        position: absolute;  
      }       
    }
    &:before {
      background:tint($link-color,50);
      background:url(../images/pattern.svg) 0 0 no-repeat;
      bottom: 0px;
      right: -250px;
    }
    &:after {
      background: #D2F0FC;
      background:url(../images/pattern.svg) 0 0 no-repeat;
      top: 0;
      left: -250px;
    }
  @include mq($bp2) {
    margin-bottom: 0;
  }   
  @include mq($bp3) {
    top: -250px;  
  } 
}

.block-img--simplify {
  @include mq($bp2) { 
    border:1px solid #ddd;
    position: relative;
    height: 500px;
    &:before,
    &:after {
      content:'';
      position: absolute;
      margin:auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:before {
      width: 250px;
      height: 250px;
      background:$primary-color;
    }
    &:after {
      width: 125px;
      height: 125px;
      background:#fff;
    }
  }
}


// ikony z uslug

// .get-item {
//   width: 100%;
//   position: relative;
//   z-index: 1;
//   margin-bottom: 50px;
//   background:#fff;
//   @include mq($bp1) {
//     width: 49%;
//   } 
//   @include mq($bp2){
//     margin-bottom: 0;
//     width: 24%;
//   } 

// }

// .get-item-inner {
//   padding:20px;
// }


.icon-block {
  background:$primary-color;
  position: relative;
  width: 100%;
  // border:2px solid #fff;
  height: 333px;
  &:before {
    content:'';
    position: absolute;
    margin:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/icons-block.svg');  
    background-repeat: no-repeat;
    opacity: .9;
  }
  @include mq($bp2){ 
    &:after {
      // content:'';
      position: absolute;
      background:#ddd;
      width: 50%;
      height: 50%;
    }
  }
}

.icon-odpowiada {
  &:before {
    background-position: 0 -2px;
    width: 89px;
    height: 97px;
  }
  &:after {
    bottom: 0;
    left: 200%;
  }
}

.icon-wzmacnia {
  @include mq($bp1) {
    order:1;
  } 
  &:before {
    background-position: -114px -8px;
    width: 78px;
    height: 75px;
  }
  &:after {
    bottom: 0;
    left: -150%;
  }
  
}

.icon-buduje {
  &:before {
    background-position: -222px 0;
    width: 76px;
    height: 87px;
  }
  &:after {
    bottom: 0;
    left: 200%;
  }

}

.icon-czyni {
  @include mq($bp1){
    order:2;
  } 
  &:before {
    background-position: -327px -19px;
    width: 112px;
    height: 59px;
  }
  &:after {
    bottom: 0;
    left: -150%;
  }
}

.icon-text-block {
  padding:20px 0 75px;
  font-size: 18px;
  @include mq($bp1){
    padding:20px 50px;
    font-size: 16px;
  } 
  h3 {
    font-weight: 400;
    font-size: 24px;
    color:$primary-color;
  }
}

.effect-shine {
    position: absolute;
    overflow: hidden; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#fff,.5);
    content: '';
    transition: transform 0.6s; 
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-110%,0);
  }
  &:hover:before {
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,110%,0);
  }
}


//svg icons
// .svg-icons {
//   position: absolute;
//   margin:auto;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   stroke:#fff;
// }