
.block-heading {
  position: relative;
  background: #0C216C;
  width: 100%;
  padding: 70px 20px;
  &:before {
    @include mq($bp2){
      content:'';
      width: 250px;
      height: 250px;
      position: absolute;
      background:tint($link-color,50);
      left: -250px;
      bottom: 0;
    }  
  }
  @include mq($bp1) {
    // padding: 0 100px;
  } 
  @include mq($bp2) {
    padding: 0 100px;
    width: 50%;
    height: 500px;
    order:-1;
  } 
  h2 {
    color:#fff;
    text-align: center;
  }
}

.block-img {
  display: inline-block;
}


.block-text {
  font-size:18px;
  padding: 50px 0;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  @include mq($bp2) {
    max-width: none;
    padding:100px 50px;
  } 
}

.index .block-text {
  background:#fff;
  // text-align: left;
  @include mq($bp2) {
    order:2;
    margin-top: -250px;
  } 
}

.uslugi .block-text{
  position: relative;
  &:before {
    @include mq($bp2){
      content:'';
      position: absolute;
      top: 0;
      background:#D2F0FC;
      width: 375px;
      height: 250px;
      left: -125px;
      z-index: -1;
      opacity: .7;
    }
  }
  &:first-child {
    padding-top: 0;
    &:before {
      width: 125px;
      height: 125px;
      left: 0;
      top: -50px;
    }
  }
  &:last-child {
    padding-bottom: 0;
  }
}


.block-img-1 {
    position: relative;
    margin-bottom: 50px;
    &:before,
    &:after {
      @include mq($bp2){
        content:'';
        width: 250px;
        height: 250px;
        position: absolute;  
      }       
    }
    &:before {
      background:tint($link-color,50);
      bottom: 0px;
      right: -250px;
    }
    &:after {
      background: #D2F0FC;
      top: 0;
      left: -250px;
    }
  @include mq($bp2) {
    margin-bottom: 0;
    top: -250px;  
  } 
}


// ikony z uslug
.icon-block {
  // width: 100%;
  // padding: 100px;
  width: 100%;
  height: 300px;
  background:$primary-color;
  position: relative;
  display: inline-block;
  @include mq($bp1){
    width: 333px;
    height: 333px;
  } 
  &:before {
    content:'';
    position: absolute;
    margin:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/icons-block.svg');  
    background-repeat: no-repeat;
    opacity: .9;
  }
  &:after {
    background:#ddd;
  }
}

.icon-odpowiada {
  &:before {
    background-position: 0 -2px;
    width: 89px;
    height: 97px;
  }
  &:after {
    @include mq($bp2) {
      content:'';
      position: absolute;
      width: 50%;
      height: 50%;
      bottom: -50%;
      left:50%;
    } 
  }
}

.icon-wzmacnia {
  @include mq($bp1) {
    order:2;  
  } 
  
  @include mq($bp2) {
    order:0;
  } 
  &:before {
    background-position: -114px -8px;
    width: 78px;
    height: 75px;
  }
  &:after {
    @include mq($bp2) {
      content:'';
      position: absolute;
      width: 50%;
      height: 50%;
      top: -50%;
      right:-50%;

    } 
  }
}

.icon-buduje {
  @include mq($bp2){
    order:2;  
  } 
  &:before {
    background-position: -222px 0;
    width: 76px;
    height: 87px;
  }
  &:after {
    @include mq($bp2) { 
      content:'';
      position: absolute;
      width: 50%;
      height: 50%;
      bottom: -50%;

    }
  }
}

.icon-czyni {
  @include mq($bp1) {
    order:2;
  } 
  @include mq($bp2) {
    order:0;
  } 
  &:before {
    background-position: -327px -19px;
    width: 112px;
    height: 59px;
  }
  &:after {
    @include mq($bp2) {
      content:'';
      position: absolute;
      width: 50%;
      height: 25%;
      top: -25%;
      width: 100%;
      // left: 50%;
      // left: -50%;
      // left: 50%;

    } 
  }
}

.icon-text-block {
  padding:20px 0 50px;
  font-size: 18px;
  @include mq($bp1){
    font-size: 16px;
  } 
  // text-align: left;
  h3 {
    font-weight: 400;
    font-size: 24px;
    color:$primary-color;
  }
  @include mq($bp1) {
    padding: 50px;
  }  
}


