.footer {
	background:#fff url(/images/dsp_footer.svg) center bottom no-repeat;
	border-bottom: 5px solid $heading-color;
	background-size:115% auto;
	overflow: hidden;
	padding-top: 5em;
	padding-bottom: 5em;
	border-top: 1px solid #ddd;
	@include mq($bp2){
		padding-bottom: 7em;
	} 
	@include mq($bp3){
		background-size:95% auto;
		padding-bottom: 10em;
	} 
	p,a {
		font-family: $base-font-family;
		font-size: 16px;
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;	
	}
}





.footer__contact {
	width: 100%;
	@include mq($bp1){
		width: 75%;
	} 
	@include mq($bp2){
		width: 25%;
	} 
	hr {
		margin-top:.5em;
	}
}


.nav--footer {
	width: 100%;
	margin:2em 0 4em;
	@include mq($bp1){
		margin: 0;
		width: 25%;
		margin-bottom:1em;
	} 
	@include mq($bp2) {
		width: 75%;
		text-align: right;
	} 

	li {
		margin-bottom: .5em;
		@include mq($bp2){
			display: inline-block;
			margin-left: 1.5em;		
		} 
	}
}

.footer__copyright {
	width: 100%;
	@include mq($bp1){
		width: 25%;
		margin-left: 75%;
	} 
	@include mq($bp2) {
		text-align: right;
		// margin-top: 1em;
	} 
	@include mq($bp3){
		margin-top: 1em;
	} 

	p {
		font-size: 12px;
	} 
	hr {
		background:#ddd;
		margin-bottom: .5em;
	}
}