.footer {
	background: #fff;
	margin-top: 100px;
	// padding-top: 50px;
	h4 {
		color:#ccc;
	}
}

.footer-inner {
	padding-top:20px;
	border-top: 1px solid #ddd;
	text-align: center;
}

.footer-contact {
	padding-bottom: 50px;
}

.nav--footer {
	font-weight: 400;
	padding-bottom: 50px;
		a {
			font-size: 16px;
		}
}

.copyright {
	font-size: 12px;
	color:#999;
}

#weekday {
	padding-top: 50px;
	padding-bottom: 50px;
}

.logo-footer {
	p {
		font-weight: 700;
		font-family: $sans-font;
		font-size: 40px;
		line-height: 1;
	}
}