.footer {
	background:#eee;
	// overflow: hidden;
	
	// padding-bottom: 3em;
	// border-top: 1px solid #ddd;

	p,a {
		// font-family: $base-font-family;
		font-size: 16px;
		// -webkit-font-smoothing: auto;
		// -moz-osx-font-smoothing: auto;	
	}
}

.footer__top {
	padding-top: 3em;
	background:url(/images/dsp_footer.svg) center bottom no-repeat;
	background-size:100% auto;
	padding-bottom: 2em;
	@include mq($bp1){
		padding-bottom: 3em;
	}
	@include mq($bp2){
		padding-bottom: 6em;
		// background-size:100% auto;
	}
	// padding-bottom: 6em;
}

.footer__bottom {
	background:#fff;
	padding:1em 0 3em;
}

.footer__contact {
	width: 100%;
	@include mq($bp1){
		float: left;
		width: 75%;
	} 
	@include mq($bp2){
		width: 25%;
		
	} 
	h4 {
		text-transform: none;
		font-size: 18px;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 1em;

	}
}


.nav--footer {
	width: 100%;
	margin:2em 0 4em;
	@include mq($bp1){
		float: right;
		margin: 0;
		width: 25%;
		margin-bottom:1em;
	} 
	@include mq($bp2) {
		width: 75%;
		text-align: right;
	} 

	li {
		margin-bottom: .5em;
		@include mq($bp2){
			display: inline-block;
			margin-left: 1.5em;		
		} 
	}
}

.footer__copyright {
	width: 100%;
	@include mq($bp1){
		width: 25%;
		// margin-left: 75%;
	} 
	@include mq($bp2) {
		// text-align: right;
		// margin-top: 1em;
	} 
	@include mq($bp3){
		// margin-top: 1em;
	} 

	p {
		font-size: 12px;
	} 
	hr {
		background:#ddd;
		margin-bottom: .5em;
	}
}