.header {
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	z-index: 1;
	// border-bottom: 1px solid rgba(#000,.1);
}


.header--absolute {
	position: absolute;
	z-index: 2;
	// top: 0;
}

//header--inverted - zmiana koloru headera na bialy, lacznie z logiem
.header--inverted {
	position: absolute;
	z-index: 2;
	border-bottom: none;
	@include mq($bp2) {
		color:$white-color;
	} 
	#menu-link {
		span {
			color:$white-color;
			@include mq($bp2){
				color:$heading-color;
			} 
			.show-menu & {
				color:$heading-color;
			}
		}
		.hamburger div {
			background:$white-color;
			@include mq($bp2) {
				background:$heading-color;
			} 
			.show-menu & {
				background:$heading-color;
			}
		}

	}
}







.logo {
	display: block;
	img {
		width: 80px;
	}
}

.nav {
			a {				
				position: relative;
				font-weight: 400;
				// font-family: $base-font-family;
				letter-spacing: 0.04em;
				display: block;
				font-size: 18px;
				transition:all .2s linear;
				// border-bottom: 1px solid transparent;
				padding: 5px 0;
				// padding-bottom: 10px;
				&:after {
			    position: absolute;
			    top: 100%;
			    left: 0;
			    width: 100%;
			    height: 1px;
			    background: #999;
			    content: '';
			    opacity: 0;
			    transition: height 0.3s, opacity 0.3s, transform 0.3s;
			    transform: translateY(-5px);
				}
				&:hover {
					// color:$link-color;
					color:inherit;
					// border-bottom-color: $text-color;
					&:after {
						height: 1px;
				    opacity: 1;
				    transform: translateY(0px);
					}
				}
			}
	
}


.nav .active {
	a {
		&:after {
			height: 1px;
			opacity: 1;
			transform: translateY(0px);
		}
		// border-color:$text-color;
		// color:$link-color;

	}
}

.flex-ct {
	display: flex;
	justify-content:space-between;
	align-items: center;
	
}
