.header {
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
	z-index: 1;
	border-bottom: 1px solid #ddd;
}

.header--absolute {
	position: absolute;
	z-index: 2;
	// top: 0;
}

.header--inverted {
	border-bottom: none;
}

.logo {
	display: block;
	img {
		width: 80px;
	}
}

.nav {
	// ul {
		// li {
			a {				
				font-weight: 400;
				font-family: $base-font-family;
				display: block;
				transition:all .2s linear;
				&:hover {
					color:$link-color;
				}
				.header--inverted & {
					color:$white-color;
				}
			}
		// }
	// }
	
}


.nav .active {
	a {
		color:$link-color;
	}
}

.flex-ct {
	display: flex;
	justify-content:space-between;
	align-items: center;
	
}
