
.section-info {
  padding-top: 100px;
  padding-bottom: 370px;
  font-size:28px;
  p {
    line-height: 1.6;
    span {
      background: #111;
      color: #fff;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 4px;
    }
  }
}
.content {
  p {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.container--wide {
  position: relative;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left:10px; 
  padding-right: 10px;

  @include mq($bp1){
    padding-left:40px;
    padding-right:40px;
  }
}



.section-why {
  position: relative;
  @include mq($bp3){ 
    &:before {
      content:'';
      position: absolute;
      width: 130%;
      height: 500px;
      background:#CFEBE4;
      background:#f5f5fd;
      background:#f1f1f1 url('../images/dsp_footer.svg') left bottom no-repeat;
      z-index: -1;
      left: 0;
      top: 250px;
    }
  }
}





.section-cta {
  text-align: center;
  // padding-top: 50px;
  // padding-bottom: 50px;
  .index & {
    padding-top: 50px;
    padding-bottom: 125px;
  }
}

.cta-title {
  line-height: 1;
}