.section-onas{  
  // border-bottom: 1px solid #ddd;  
  h1 {
    // text-align: center;
    line-height: 1;
    padding-bottom: 30px;
    color:$primary-color;
    @include mq($bp2){
      // font-size: 70px;
    } 
  }
 }

.texture { 
  // background: #ffffff url(../images/text-texture.jpg);
  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;
  // text-fill-color: transparent;
  // background-clip: text;
}
    
.onas-info {
  font-size: 24px;
}    


.section-bio {
  // padding-top: 150px;
  @include mq($bp2){
    background: linear-gradient(to bottom, #fff, rgba(#fff,0) 15%, rgba(#fff,0) 85%, #fff), url(../images/beach.jpg) center bottom no-repeat;
    background-size:cover;  
  } 
}

.onas-bio-container {
  // max-width: 750px;
  // margin-left: auto;
  // margin-right: auto;
}

.onas-bio
 {
  margin: -200px 0 0 -2em;

  &> .grid-cell {
    padding: 200px 0 0 2em;
  }
}

.onas-bio p {
  font-size:18px;
}

.bio-img {
  text-align: center;
}

.bio-img-milena,
.bio-img-adrian {
  text-align: center;
  position: relative;
  display: inline-block;
  @include mq($bp2){
     // display: inline-block;
  } 
  img {
    width: 250px; 
  }
  &:before,
  &:after {
    content:'';
    position: absolute;

  }
}


.bio-img-milena {
  &:before {
    width: 175px;
    height: 125px;
    left: -50%;
    top: 75%;
    background:#D2F0FC; 
    opacity: .6;


  }
  &:after {
    width: 250px;
    height: 125px;
    left: 50%;
    opacity: .6;
    top: -25%;
    background:#D2F0FC;
  }
}

.bio-img-adrian {
  &:before {
    width: 125px;
    height: 250px;
    left: -25%;
    top: 50%;
    background:#D2F0FC;
    opacity: .6;
  }
  &:after {
    width: 125px;
    height: 125px;
    left: 75%;
    opacity: .6;
    top: -25%;
    background:#D2F0FC;
  }
}


