.mockup-container {
  margin:0 auto;
}

.mockup {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom:30px;

  // &:hover .mockup-shade {
  //   visibility: hidden;
  //   opacity: 0;
  // }
  img {
    width: 100%;
  }
}

.mockup.is-hovered {
  .mockup-shade {
    visibility: hidden;
    opacity: 0;
  }
}

.mockup.is-hidden {
  .mockup-shade {
    display: none;
  }
}



.mockup + span {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  letter-spacing: .01rem;
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
  line-height: 1.4;
  color: rgba(0,0,0,0.6);
  outline: 0;
}

.columns {
  .mockup {
    margin-bottom: 0;
    // @include mq($bp1){
    //   margin-bottom: 0;
    // } 
  }
}

.artwork {
  position: absolute;
  overflow: hidden;
  img {
    width: 100%;
  }
  .no-js & {
    > img {
      display: none;
    }
  }
}

.no-js .artwork .aspect-ratio {
  display: none;;
}

.mockup-scroll .artwork {
  overflow-y: scroll;

  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
}

.mockup-shade {
  position: absolute;
  background:rgba(#000,.5) url(../images/scroll.svg) center center no-repeat;
  opacity: .9; //bo nie moge na wierz dac ikony scroll
  transition:all .2s;
  visibility: visible;
  .no-js & {
    display: none;
  }
}

.mockup-imac {
  .artwork,
  .mockup-shade {
    width: 92.5%;
    height: 63.1%;
    top: 4.6%;
    left: 3.9%;
  }
  .mockup-shade {
    height: calc(63% + 1px);
  }
}

.mockup-laptop {
  .artwork,
  .mockup-shade {
   width: 76.2%;
   height: 81.9%;
   top: 6.5%;
   left: 11.9%;
  }
  .mockup-shade {
    height: calc(81.9% + 1px);
  }
}

.mockup-iphone {
  .artwork,
  .mockup-shade {
    // width: 85.5%;
    // height: 74.6%;
    // top: 12.7%;
    // left: 7.3%;
    top:11.9%;
    left: 4.9%;
    width: 90.4%;
    height: 76%;
  }
  .mockup-shade {
    height: calc(76% + 1px);
  }
}
