.uslugi .stripe {
	background: #FFF79F;
}

.section-get {
  background:#fafafa;
  padding-top: 100px;
}

.section-proces {
  font-size:18px;
  p + ul {
    margin-top: -15px;
  }
  h2 {
    margin: 0;
  }
}
.proces-header {
  
  // display: flex;
  // align-items: flex-end;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  padding-left: 120px;
  // padding-top: 50px;
  &:before {
    content:attr(data-number);
    position: absolute;
    font-size: 130px;
    line-height: .6;
    font-family: $sans-font;
    font-weight: 700;
    left: 0;
    bottom: -10px;
    letter-spacing:-0.1em;
    z-index: -1;
    color:$link-color;
  }
}

.proces-first {
  padding-left: 90px;
}

.proces-title {
  text-transform: uppercase;
  line-height: 1;
}

.proces-subtitle {
  font-style: italic;
}



