%footer.footer
  .container--wide
    .footer-inner
      %nav.nav.nav--footer
        %ul= partial 'partials/components/nav'
      .footer-contact
        %h4 Skontaktuj się z nami
        %a{:href => "mailto:mail@dasieprosciej.pl"} mail@dasieprosciej.pl
        %p tel. 513 587 575
        %hr.inline.thin
      .logo-footer
        -# %img{:src => "../images/logo_line.svg", :alt => ""}/  
        %p da się prościej
      .copyright
        %p &copy; 2015 da się prościej, Wszystkie Prawa Zastrzeżone  
      %p#weekday
        Miłego dnia