<footer class="footer"> 
	<div class="ct">
		<div class="footer__top group">
			<div class="footer__contact">
				<h4>Skontaktuj się z nami</h4>
				<a href="mailto:mail@dasieprosciej.pl">mail@dasieprosciej.pl</a>
				<p>tel. 513 587 575</p>
			</div>

			<nav class="nav nav--footer">
				<ul>
					<%= partial 'partials/components/nav' %>
				</ul>
			</nav>
		</div>	
	</div>	
	<div class="footer__bottom">
		<div class="ct">
			<div class="footer__copyright">
				<p>&copy; da się prościej 2015</p>
			</div>
		</div>	
	</div>
</footer>