<footer class="footer"> 
	<div class="ct">
		<div class="grid grid--gutters">
			<div class="footer__contact grid-cell">
				<p class="gold">Skontaktuj się z nami</p>
				<hr>
				<a href="mailto:mail@dasieprosciej.pl">mail@dasieprosciej.pl</a>
				<p>tel. 513 587 575</p>
			</div>

			<nav class="nav nav--footer grid-cell">
				<ul>
					<%= partial 'partials/components/nav' %>
				</ul>
			</nav>

			<div class="footer__copyright grid-cell">
				<hr class="inline">
				<p>&copy; da się prościej 2015</p>
				<p class="rights">Wszystkie&nbsp;Prawa&nbsp;Zastrzeżone</p>
			</div>
		</div>	
	</div>
</footer>



