<header class="header <%= header_class ||= "" %>">
	<div class="ct flex-ct">
		<a href="/" class="logo flex-child">
			<% if header_class.include?("header--inverted") %>
				<%= image_tag('logo-inverted.svg') %>
			<% else %>
				<%= image_tag('logo.svg') %>
			<% end %>	
			
		</a>
		<nav class="nav nav--main flex-child">
			<ul>
				<%= partial 'partials/components/nav' %>
			</ul>
		</nav>
		<a href="#" id="menu-link">
			<span>menu</span>
			<div class="hamburger">
				<div></div>
				<div></div>
				<div></div>
			</div>	
		</a>
	</div>
</header>