<header class="header <%= header_class %>"> 
	<div class="ct flex-ct">
		<a href="/" class="logo flex-child">
			<%= tag :img, :src => "/images/logo2.svg" %>
		</a>
		<nav class="nav nav--main flex-child">
			<ul>
				<%= partial 'partials/components/nav' %>
			</ul>
		</nav>
		<a href="#" id="menu-link">
			<span>Menu</span>
			<div class="hamburger">
				<div></div>
				<div></div>
				<div></div>
			</div>	
		</a>
	</div>
</header>