.hero {
	position: relative;
	width: 100%;
	height:calc(100% - 3rem);
	min-height: 600px;
	max-height: 900px;	
	// background:url(../images/figury.svg) 90% 0% no-repeat;
	.section-content {
		padding-top: 120px;
		@include mq($bp4){
			padding-top: 150px;
		} 
	}
	.ct {
		position: relative;
		height: 100%;
	}
}

.explore {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 20px;
	background:url(../images/arrow.svg) bottom left no-repeat;
	left: 10px;
	@include mq($bp1){
		left: 40px;
	}
}


// .fixed-bottom{
	// position: absolute;
	// bottom: 0;
	// padding-top: 120px;
	// width: 100%;
// }


.headline-main {
	padding-bottom: 3em;
	@include mq($bp3) {
		padding-bottom: 7em;
	} 
	h1 {
		color:$primary-color;
		padding-bottom: 1em;
	}
	p {
		max-width: 700px;
		font-size: 20px;
		@include mq($bp2){
			font-size: 22px;
			line-height: 1.3;
		}
	}
}