

.section-content {
	padding: 5em 0;
	p {
		margin-bottom: 1em;
	}
}

.section-info {
	position: relative;
	h2 {
		@include mq($bp2){
			font-size: 32px;
		} 
	}
	h3 {
		color:$primary-color;
		font-weight: 400;
	}
}

.bg-white {
	background:#fff;
}

.section h2 {
	padding-bottom:1em;
	line-height: 1.2;
	color: $primary-color;
}

.headline-img{
	// background:$primary-color url(/images/people.jpg) center center no-repeat;
	// background-size:cover;	
	background: rgba(shade($primary-color,5),.7);
	padding:5em 0;
	
	@include mq($bp2){
		// background:$primary-color url(/images/people.jpg) center center no-repeat;
		// background-size:cover;	
	}  
	h2 {
		padding-bottom: 0;
		text-align: center;
		color: $white-color;
	}
}

.section-discover {
	background:$heading-color;
	@include mq($bp2){
		background: $heading-color url(/images/ocean.jpg) left center no-repeat;
		background-size: cover;	
	} 
	p {
		color:$white-color;
	}
	p, blockquote {
		font-size: 18px;
	}
	.section-content {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;

		@include mq($bp2){
			max-width: none;
			width: 52%;
			margin-left: 0;
		}
	}
}

.section-content blockquote {
	max-width: 700px;
}

.cta {
	text-align: center;
}

.section-cta {
	padding: 5em 0;
	text-align: center;
	background: $link-color;
	p {
		font-size: 22px;
		color:$white-color;
		@include mq($bp2){
			font-size: 26px;
		}
	}
}