<section class="hero">
	<div class="fixed-bottom">
		<div class="ct">
			<div class="headline-main">
				<h1>Upraszczamy przekaz <br>na stronach internetowych</h1>
				<p>Łączymy <strong>design i copywriting</strong> by pomóc Ci odkryć to co najlepsze<br>w Twojej ofercie i przekazać to ludziom do których chcesz dotrzeć.</p>
			</div>	
		</div>
	</div>
</section>