<section class="hero">
	<!-- <div class="fixed-bottom"> -->
		<div class="ct">
			<div class="section-content section-content--middle">
				<div class="headline-main">
					<h1><strong>Upraszczamy</strong> <br>przekaz <br>na stronach <br>internetowych</h1>
					<p>Łączymy <strong>design i copywriting</strong> by pomóc Ci odkryć to co najlepsze w&nbsp;Twojej ofercie i przekazać to ludziom do których chcesz dotrzeć.</p>
				</div>	
			</div>
			<a href="#section-info" class="explore"></a>
		</div>
	
		
	
	<!-- </div> -->
</section>