<section id="section-info" class="section section-info">
	
	<div class="headline-img">
		<div class="ct">
			<h2>Jesteś świetny w tym co robisz i znasz swój biznes lepiej niż ktokolwiek inny&hellip; ale czy Twoja strona przedstawia Cię tak jak powinna?</h2>
		</div>
	</div>
	<div class="bg-white">
		<div class="ct">
			<div class="section-content section-content--middle">
				
				<div class="font-22">
					<p><strong>Być może masz stronę,</strong> która  wyróżnia się z tłumu pod względem wizualnym. To oczywiście ważne. Problem tylko w tym, że nie przynosi ona korzyści jakich się spodziewałeś, nie przyciąga nowych klientów albo co gorsze - odstrasza aktualnych. Wiemy co może być przyczyną.</p>
					<hr class="full">
					<h3>Strona www działa na ludzi podobnie jak film. </h3>
					
					<p>Jeśli w filmie brakuje ciekawej, intrygującej fabuły, wszystkie inne elementy - świetne zdjęcia, efekty specjalne czy znani aktorzy - są nieistotne. Z drugiej strony, słaba prezentacja dobrej historii nie przykuje uwagi widzów lub szybko ich zniechęci. </p> 

					<hr class="full">

					<p><strong>Ludzie odwiedzają strony z powodu treści.</strong> Nie przychodzą po to by zobaczyć piękne czcionki, kolory czy fantazyjne animacje, ale po informacje które odpowiadają na ich pytania i rozwiązują ich problemy. Dlatego tak ważny jest prosty i zrozumiały, ale też interesujący przekaz. </p>
					<p>To co mówisz jest ważne, ale jak to powiesz jest równie ważne. Design i treść muszą ze sobą współgrać, tak żeby uwaga skupiła się na tym co najważniejsze, czyli na Twojej ofercie. Liczy sie pełen obraz. </p>
				</div>	
				<p class="font-40"><strong>Stworzylismy ‘da się prościej’ by odkryć i dostarczyć Ci ten obraz.</strong></p>
				<div class="cta">
					<a href="/uslugi" class="btn btn-cta btn-cta--inverted" id="cta-1">Zobacz jak możemy Ci pomóc</a>
				</div>
			</div>	
		</div>
	</div>
</section>

<section class="section section-discover">
	<div class="ct">
	<div class="section-content">
		
			<h2>Upraszczamy by znaleźć<br> to co najcenniejsze</h2>
			<p>Skupiamy się na Twoich mocnych stronach i usuwamy wszystko to co zbędne, by pokazać Twoim odbiorcom nie to co chcesz im sprzedać, ale to co chcieliby od Ciebie kupić. </p>
			<blockquote>
				Prostota nie jest celem samym w sobie. Jest wypadkową dobrego pomysłu i rozsądnych oczekiwań.
				<cite>Paul Rand</cite>
			</blockquote>
			<p>W upraszczaniu nie chodzi o mniej, ale  o &lsquo;wystarczająco&rsquo;. Wystarczająco by Twoi odbiorcy zrozumieli to co chcesz im przekazać i podjęli działania jakich od nich oczekujesz. To oni wyznaczają granicę prostoty. Pomożemy Ci ją znaleźć.</p>
			<!-- <a href="/co.html" class="btn btn-cta">Zobacz jak możemy Ci pomóc</a> -->
		</div>
	</div>
</section>


<section class="section section-cta">
	<div class="ct">
		<p>W praktyce tworzymy po prostu strony internetowe. Ale nie stronę od nas kupujesz. Odkrywamy i sprzedajemy Ci lepszy obraz Twojego biznesu. Sam zdecyduj czy warto.</p>
		<a href="/uslugi" class="btn btn-cta" id="cta-2">Zobacz jak możemy Ci pomóc</a>
	</div>
</section>