// STEP ONE: BASICS ================================================

$gold-color 	 				: #B99A54;
$lightgold-color 				: #F3E29F;

$body-color 					: #fff;//#EEF2EA; 
// $text-color-dark				: #A8A8A8;
$text-color 				 	: #333;
$link-color 					: #00B4F1;
$heading-color 					: #010101;
$gray-color 					: #999;
$white-color 					: #eee;


$base-font-size 				: 16; //16px
// $base-line-height 				: 1.5; //24px
$gutter-width 					: em(24);


$max-width     					: em(1500); //em(1000)
$border-radius 					: 0; //0.35em

// MEDIA QUERIES
$bp1 							: em(600); 
$bp2 							: em(960); 
$bp3 							: em(1280);  
$bp4 							: em(1500);  





// TYPOGRAPHY ================================================

$font-family-serif 				: 'Open Sans',Helvetica,sans-serif;
$font-family-sans 				: 'Source Serif Pro',sans-serif;

$base-font-family 				: $font-family-serif;
$alt-font-family 				: $font-family-sans;

