html.turbolinks-progress-bar::before {
  background-color: $kwadrat !important;
}

.section {
		padding-top: 70px;
		padding-bottom: 70px;
	@include mq($bp1){
		padding-top: 100px;
		padding-bottom: 100px;
	} 
}


.content {
	overflow: hidden;
}
.container--wide {
  position: relative;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left:10px; 
  padding-right: 10px;

  @include mq($bp1){
    padding-left:40px;
    padding-right:40px;
  }
}

.container--narrow {
	max-width: 600px;
}

.pad-0 {
	padding: 0;
}
.mg-0 {
	margin: 0;
	
}
// .section-content--middle {
// 	max-width:700px;
// 	margin-left: auto;
// 	margin-right: auto;
// 	@include mq($bp2){
// 		max-width: none;
// 		width: 66.6666%;
// 			margin-left: auto;
// 			margin-right: auto;
// 	}
// }

.z--2 {
	z-index: -2;
}

#back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	transform:translateZ(0);
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border:1px solid #ddd;
	text-align: center;
	display: table;

	cursor:pointer;
	transition: all .5s;
	&:hover:before {
		color:#333;
	}
	&:before {
		content:'\2191';
		position: absolute;
		bottom: 0;
		left: 5px;
		font-family: sans-serif;
		// display: table-cell;
		color:#ddd;
		// vertical-align: middle;
		transition:color .25s;
	}
}

#back-to-top.is-visible {
	visibility: visible;
	opacity: 1;
}

.artwork::-webkit-scrollbar {
	display: none;
}


.touch .artwork::-webkit-scrollbar {
	display: initial;
}

.artwork {
	-ms-overflow-style: -ms-autohiding-scrollbar;  //swietnie dziala w ie
}

// .single img {
// 	    // background: #FFF url(../images/ajax2.gif) no-repeat center center;
// }
