---
title: da się prościej - FoodData
title_index: Pan Kanapka Online
title_single: FoodData<br> czyli Pan Kanapka Online
date: 2015-02-01
projekt_class: projekt-food projekt--inverted
---


:markdown
  # Adrian Level Heading

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias impedit maxime tenetur nobis, ratione ipsum unde eveniet! Hic voluptate reiciendis assumenda sed nesciunt consequatur placeat corporis necessitatibus? Cum, labore, non. 

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ducimus et eaque rem nam. Nam quas a, sequi animi voluptate veritatis, libero deserunt nemo, nostrum incidunt nulla fugit eius, vero.

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt veniam eius obcaecati, assumenda culpa consequuntur provident ad, earum labore inventore, alias est nam nulla odio soluta ipsum fuga, non possimus?

  = img('r_main-large.jpg')

      
  ~~http://example.com~~
  
  ```javascript
  function test() {
    console.log("notice the blank line before this function?");
  }
  ```
  
  ```ruby
  def my_cool_method(message)
    puts message
  end
  ```

<h1> afer </h1>

= code('ruby') do
  puts "hello"

  

#example
  :code
    # lang: ruby

    def foo
      puts 'bar'
    end

    



=img('r_main-large.jpg', class: 'full-width', alt:'dsds')

%img{'data-src' => imgpath('r_main.jpg')}

%section
  %ul.test_klasy
    %li down
    %li bekhr

.bg-img.full-width{'data-background-image' => imgpath('r_main.jpg')}
  %h1.projekt-header Bebe



%section.two-columns.ct
  %p 
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nemo expedita nostrum sapiente, esse. Nostrum unde ab deleniti! Temporibus unde vero, fugiat voluptatum aperiam animi eum mollitia adipisci sequi porro?
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eum dolorum placeat illum atque voluptate rem officiis, doloribus, perferendis distinctio molestias. Veniam dolore non sed porro asperiores ab eaque quas.

%section
  :markdown
    # Adrian
    
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quod alias nemo, illo laboriosam, esse placeat dolorum! In dicta, velit eum, quia quam pariatur, similique labore minima debitis nihil molestias.    

    > Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet, velit! Officia ad laboriosam commodi quos mollitia obcaecati harum amet natus molestiae eveniet, illo veniam animi iure, sint recusandae corrupti!

%section
  :markdown
    ## tytul 2

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ex repudiandae explicabo cupiditate, repellat inventore expedita sunt incidunt minima tempora accusamus? Voluptatum voluptate, id maxime. Laborum ut, nemo laudantium fugiat.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae veniam quae amet adipisci, impedit ullam libero autem quis. Tempore modi itaque deserunt fuga recusandae saepe laboriosam harum dolorem ipsum possimus.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe molestiae quas recusandae explicabo nam mollitia, numquam, accusantium illum laudantium a atque architecto ad doloribus expedita nostrum non, nisi autem vero.

