---
title: da się prościej - Milush
index_firm: Milush
index_title: Web Copywriting
date: 2015-01-02
projekt_class: projekt-milush
header:  header--absolute
zakres:
  - design
  - copywriting
  - development
  - CMS (Wordpress)
status: online
status_link: http://milush.pl
---

= bgimg_header('img-milena-hero.jpg', class: "bg-img bg-height-2 bg-shade color-inverted align-center align-middle") do
  .section-inner
    %h4.color-lighter Milush
    %h1 Copywriting na stronach internetowych

-# %header.bg-height-2.bg-color.bg-pink.align-middle.align-center.color-inverted
-#   .section-inner
-#     %h4 Milush
-#     %h1 Copywriting na stronach internetowych 

%section
  .section-inner.align-center
    %h2 O co chodzi
    %p 
      Strona stworzona dla „połówki” Da Się Prościej. Chodziło nam głównie o&nbsp;przejrzyste przedstawienie, czym zajmuje się copywriter na stronach www i&nbsp;dlaczego jego udział w projektowaniu stron jest tak ważny. Statyczna strona typu one-page w&nbsp;lekkim, nowoczesnym stylu oraz dodatkowy blog oparty na Wordpress’ie.
    %hr.inline/

%section
  .section-inner.outset-img
    = figure(:l, 'img-milush.jpg', nil,nil, class: "bordered")  


%section
  .section-inner.outset.align-center
    .columns.column-1--3of4.column-2--1of4.align-bottom
      .column-1
        = mockup(:imac, :scroll, 'img-milush-l.jpg', id: 'compare-1')
      .column-2
        = mockup(:iphone, :scroll, 'milush-mobile.jpg', id: 'compare-2')



