---
title: da się prościej - SentiOne
index_firm: SentiOne
index_title: Monitoring internetu
date: 2015-01-01
projekt_class: projekt-senti projekt--inverted
header: header--absolute
klient: SentiOne
zakres: 
  - design
  - copywriting
  - development
status: offline  
---

= bgimg_header('img-screen2.jpg', class: "bg-img bg-height-2 bg-shade-more color-inverted align-center align-middle") do
  .section-inner.align-center
    %h4.color-lighter SentiOne
    %h1 Monitoring internetu i social media

%section
  .section-inner.align-center
    %h2 Zadanie
    %p 
      SentiOne to narzędzie do monitorowania informacji publikowanych w internecie i mediach społecznościowych. 
      Naszym zadaniem było przebudowanie <em>landing page</em>, zachęcającego do skorzystania z 14-dniowego okresu testowego.
    %hr.inline/
  
%section 
  .section-inner.outset
    .columns.column-1--2of3.column-2--1of3.font-size-18
      .column-1
        = figure(:direct, 'senti-old.jpg', 'SentiOne - „Wersja przed”')
      .column-2
        %h3 Wersja „Przed”
        %p Dotychczasowy landing page, Zgodnie z informacjami jakie dostaliśmy od SentiOne, wciąż kuleje świadomość czym jest monitoring internetu. W związku z tym, landing page

Aidca jako sprzedazowa i marketinowa zasada. 
%section
  .section-inner.outset
    .columns
      .column-1        
        .aidca-img
          = figure(:direct, 'senti.jpg')        
          .aidca-shade{"data-aidca" => "1"}
          .aidca-shade{"data-aidca" => "2"}
          .aidca-shade{"data-aidca" => "3"}
          .aidca-shade{"data-aidca" => "4"}
          .aidca-shade{"data-aidca" => "5"}
      .column-2
        .aidca.grid-s
          .aidca-heading
            %p 1. Attention
          .aidca-info
            %p Złapanie uwagi odwiedzającego. Dodatkowy szybkie wezwanie do akcji jakby ktoś już na wstępie był przekoany. Propozycja wartości.
          .aidca-heading
            %p 2. Interest
          .aidca-info
            %p ZAinteresowanie odwiedzajacego , edukacja, co to jest monitoring
          .aidca-heading
            %p 3. Desire
          .aidca-info
            %p Przedstawienie sentione jako lidera w branzy.
          .aidca-heading
            %p 4. Conviction
          .aidca-info
            %p Social proof, video,
          .aidca-heading
            %p 5. Action
          .aidca-info
            %p Główne wezwanie do akcji  


    Przyklad ze mniej to nie zawsze wiecej. Odwiedzajacy musi przede wszystkim wiedziec o co chodzi.

    %p problem - wciaz kuleje swiadomosc czym jest monitoring internetu, w zwaizku z tym landing page mial miec tresc edukacyjna.w sposob ktory nie bedzie odciagal od celu nr 1 czyli wypelniani formularza.
  
social proof czyli potwierdzenie wizerunku
cala kreacja jest w look and feelu sentione.
Obecny landing jest zdecydowanie dluzszy niz obecny ale w przypadku tego produktu- nie ma innego wyjascia. dochodzi koniecznosc edukacji kleitna.
Struktura opiera sie na AIDCA (attention, interest, desire, convince, action)


uproszczenie checkboxow

