---
title: da się prościej - SentiOne
title_index: SentiOne
date: 2015-01-01
projekt_class: projekt-senti projekt--inverted
header: header--absolute header--borderbottom header--inverted
klient: SentiOne
zakres: 
  - design
  - development
  - copywriting
status: offline  
---

= bgimg_header('img-hero.png', class: "bg-img bg-height-1 color-inverted align-center align-middle") do
  .section-inner.align-center
    %h4.color-lighter SentiOne
    %h1 Monitoring internetu i social media

%section
  .section-inner.align-center
    %h2 Zadanie
    %p 
      SentiOne to narzędzie do monitorowania informacji publikowanych w internecie i mediach społecznościowych. 
      Naszym zadaniem było przebudowanie <em>landing page</em>, zachęcającego do skorzystania z 14-dniowego okresu testowego.
    %hr.inline/
  
%section 
  .section-inner.outset
    .columns.font-size-18
      .column-1
        = figure(:direct, 'senti-old.jpg', "SentiOne - Wersja przed")
      .column-2
        %h3 Wersja „Przed”
        %p Dotychczasowy landing page, Zgodnie z informacjami jakie dostaliśmy od SentiOne, wciąż kuleje świadomość czym jest monitoring internetu. W związku z tym, landing page




    %p problem - wciaz kuleje swiadomosc czym jest monitoring internetu, w zwaizku z tym landing page mial miec tresc edukacyjna.w sposob ktory nie bedzie odciagal od celu nr 1 czyli wypelniani formularza.
  
social proof czyli potwierdzenie wizerunku
cala kreacja jest w look and feelu sentione.
Obecny landing jest zdecydowanie dluzszy niz obecny ale w przypadku tego produktu- nie ma innego wyjascia. dochodzi koniecznosc edukacji kleitna.
Struktura opiera sie na AIDCA (attention, interest, desire, convince, action)


uproszczenie checkboxow