/* line 8, /Users/adrian/Projekty/dsp - website/source/css/reset/_reset.scss */

html,
body,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* line 8, /Users/adrian/Projekty/dsp - website/source/css/reset/_reset.scss */

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/base/_base.scss */

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* line 11, /Users/adrian/Projekty/dsp - website/source/css/base/_base.scss */

html,
body {
	height: 100%;
	min-height: 100%;
}

/* line 25, /Users/adrian/Projekty/dsp - website/source/css/base/_base.scss */

html {
	background: #fff;
	font-size: 100%;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

/* line 44, /Users/adrian/Projekty/dsp - website/source/css/base/_base.scss */

body {
	font-size: 16px;
	font-size: 1rem;
	font-family: "Source Serif Pro", sans-serif;
	font-weight: 400;
	line-height: 1.6;
	color: #333;
	background-color: transparent;
}

/* line 81, /Users/adrian/Projekty/dsp - website/source/css/base/_base.scss */

::-moz-selection {
	background-color: #e3d7bb;
	color: #fff;
	text-shadow: none;
}

/* line 87, /Users/adrian/Projekty/dsp - website/source/css/base/_base.scss */

::-moz-selection {
	background-color: #e3d7bb;
	color: #fff;
	text-shadow: none;
}

::selection {
	background-color: #e3d7bb;
	color: #fff;
	text-shadow: none;
}

/* line 94, /Users/adrian/Projekty/dsp - website/source/css/base/_base.scss */

::-moz-selection:window-inactive {
	background: #dedede;
}

::selection:window-inactive {
	background: #dedede;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-full {
	width: 100%;
}

/* line 5, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-1of2 {
	width: 50%;
}

/* line 9, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-1of3 {
	width: 33.3333%;
}

/* line 14, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-2of3 {
	width: 66.6667%;
}

/* line 18, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-1of4 {
	width: 25%;
}

/* line 22, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-1of6 {
	width: 16.6666%;
}

/* line 26, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-3of4 {
	width: 75%;
}

/* line 107, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* line 152, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--flexCells > .grid-cell {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/* line 156, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--top {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

/* line 160, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--bottom {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

/* line 164, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

/* line 168, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--justifyCenter {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* line 172, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-cell--top {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
}

/* line 176, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-cell--bottom {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
}

/* line 180, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-cell--center {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}

/* line 184, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-cell--autoSize {
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}

/* line 188, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--fit > .grid-cell {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/* line 192, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--full > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

/* line 196, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--1of2 > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

/* line 200, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--1of3 > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.3333%;
	-ms-flex: 0 0 33.3333%;
	flex: 0 0 33.3333%;
}

/* line 204, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--1of4 > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 25%;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
}

/* line 264, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--gutters {
	margin: -1em 0 1em -1em;
}

/* line 267, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--gutters > .grid-cell {
	padding: 1em 0 0 1em;
}

/* line 271, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--gutters-l {
	margin: -1.5em 0 1.5em -1.5em;
}

/* line 274, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--gutters-l > .grid-cell {
	padding: 1.5em 0 0 1.5em;
}

/* line 278, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--gutters-xl {
	margin: -2em 0 2em -2em;
}

/* line 281, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid--gutters-xl > .grid-cell {
	padding: 2em 0 0 2em;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/_layout.scss */

html {
	border-top: 5px solid #010101;
}

/* line 16, /Users/adrian/Projekty/dsp - website/source/css/_layout.scss */

.gold {
	color: #B99A54;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #010101;
	font-family: "Open Sans", Helvetica, sans-serif;
	line-height: 1.1;
	text-rendering: optimizeLegibility;
}

/* line 19, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h1 {
	font-size: 34px;
	line-height: 1.1;
	font-family: "Source Serif Pro", sans-serif;
	font-weight: 300;
}

/* line 38, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h2 {
	font-weight: 300;
	font-size: 24px;
	font-family: "Source Serif Pro", sans-serif;
}

/* line 56, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h3 {
	font-weight: 400;
	font-family: "Source Serif Pro", sans-serif;
	font-size: 22px;
	line-height: 1.3;
	margin-top: 1em;
	margin-bottom: .5em;
}

/* line 72, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h4 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	font-weight: 400;
	margin-top: 1em;
	margin-bottom: .5em;
	text-transform: uppercase;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

p,
p > a,
.section-content li {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* line 8, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

p {
	font-size: 24px;
}

/* line 12, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

.font-18,
ul.font-18 li {
	font-size: 16px;
}

/* line 20, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

.font-20,
ul.font-20 li {
	font-size: 18px;
}

/* line 35, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

p {
	line-height: 1.6;
}

/* line 39, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

p,
.font-24,
ul.font-24 li {
	font-size: 18px;
}

/* line 54, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

.emphasis {
	font-weight: 700;
}

/* line 59, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

b,
strong {
	font-weight: bold;
}

/* line 65, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

ul,
ol {
	list-style: none;
}

/* line 71, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

.ul-inline {
	display: inline-block;
}

/* line 73, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

.ul-inline li {
	display: inline-block;
	margin-right: .2em;
}

/* line 76, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

.ul-inline li:last-child {
	margin-right: 0;
}

/* line 83, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

blockquote {
	font-style: normal;
	color: #B99A54;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-left: 65px;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 200;
	position: relative;
	font-size: 22px;
	margin: 1.5em 0;
	background: url(/images/quote.svg) top left no-repeat;
	background-size: 40px auto;
}

/* line 113, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

cite {
	display: block;
	color: #333;
	text-transform: uppercase;
	font-family: "Open Sans", Helvetica, sans-serif;
	margin: 5px 0;
	font-style: normal;
	font-size: 14px;
	color: #999;
}

/* line 124, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

dl {
	margin-bottom: 1em;
}

/* line 129, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

.dl-inline dd {
	display: inline;
	margin: 0;
}

/* line 133, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

.dl-inline dd:after {
	display: block;
	content: "";
}

/* line 137, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

.dl-inline dt {
	display: inline-block;
	min-width: 100px;
}

/* line 143, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

dt {
	color: #000;
}

/* line 2, /Users/adrian/Projekty/dsp - website/source/css/base/_links.scss */

a {
	background: transparent;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	color: inherit;
}

/* line 13, /Users/adrian/Projekty/dsp - website/source/css/base/_links.scss */

p > a {
	text-decoration: underline;
	color: #4FBCF2;
	font-size: inherit;
}

/* line 19, /Users/adrian/Projekty/dsp - website/source/css/base/_links.scss */

a:hover {
	color: inherit;
}

/* line 26, /Users/adrian/Projekty/dsp - website/source/css/base/_links.scss */

a:active,
a:hover {
	outline: 0;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/base/_buttons.scss */

.btn {
	display: inline-block;
	outline: none;
	border: none;
	color: #fff;
	font-family: "Open Sans", Helvetica, sans-serif;
	text-shadow: none;
	padding: 0;
	font-weight: 200;
	line-height: 1;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all .25s;
	transition: all .25s;
	white-space: nowrap;
	box-shadow: none;
}

/* line 19, /Users/adrian/Projekty/dsp - website/source/css/base/_buttons.scss */

.btn-cta {
	background: #00B4F1;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	letter-spacing: .05em;
	text-transform: uppercase;
	padding-left: 3em;
	padding-right: 3em;
	border-radius: 2em;
	margin-top: 4em;
}

/* line 32, /Users/adrian/Projekty/dsp - website/source/css/base/_buttons.scss */

.btn-cta:hover {
	background: #00a2d9;
	color: #fff;
}

/* line 39, /Users/adrian/Projekty/dsp - website/source/css/base/_buttons.scss */

.btn-cta--inverted {
	background: transparent;
	border: 1px solid #00B4F1;
	color: #00B4F1;
}

/* line 2, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

label {
	color: #000;
}

/* line 7, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

.input-wrapper {
	position: relative;
	margin-bottom: 10px;
}

/* line 11, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

.input-wrapper:last-child {
	margin-bottom: 0;
}

/* line 21, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

input,
select,
textarea {
	font-family: inherit;
	font-size: 14px;
	font-weight: 300;
	color: inherit;
	padding: 6px;
	padding-left: 60px;
	height: 50px;
	line-height: 50px;
	width: 100%;
	background-color: #fff;
	outline: none;
	display: inline-block;
	vertical-align: middle;
	border-radius: 2em;
	border: 1px solid #ddd;
	-webkit-transition: border-color .25s;
	transition: border-color .25s;
}

/* line 43, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

.textarea-label {
	vertical-align: top;
	padding-top: 5px;
}

/* line 55, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

input:focus,
input:active,
textarea:focus,
textarea:active {
	outline: none;
}

/* line 62, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border-color: #2593E8;
}

/* line 74, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

textarea {
	overflow: auto;
}

/* line 78, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea,
select {
	-webkit-appearance: none;
}

/* line 88, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

input[type="checkbox"],
input[type="radio"] {
	width: auto;
	margin-right: 0.3em;
	vertical-align: top;
	background: transparent;
	border: 0;
}

/* line 98, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

input[type="search"] {
	border-radius: 0;
}

/* line 103, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/* line 108, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

select {
	background: transparent;
	border-radius: 0;
	background-repeat: no-repeat;
	background-position: right 4px center;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}

/* line 121, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

select::-ms-expand {
	display: none;
}

/* line 124, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

.ie9 select,
.oldie select {
	background: none;
}

/* line 130, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

select,
input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;
}

/* line 138, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

.styled-checkbox-wrap {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 17px;
	margin-right: .5em;
	cursor: pointer;
}

/* line 147, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

.styled-checkbox-wrap input {
	opacity: 0;
	cursor: pointer;
	filter: alpha(opacity=0);
	outline: 0;
}

/* line 153, /Users/adrian/Projekty/dsp - website/source/css/base/_forms.scss */

.wrap-checked {
	background-position: 0px -18px;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/base/_tables.scss */

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
	width: 100%;
	color: #000;
}

/* line 8, /Users/adrian/Projekty/dsp - website/source/css/base/_tables.scss */

th,
td {
	text-align: left;
	padding: 1em 1%;
	font-weight: 400;
	vertical-align: middle;
}

/*------------------------------------*\
    #TOOLTIPS
\*------------------------------------*/

/**
 * A simple tooltip component. Simply drop a `data-tooltip` attribute onto
 * (almost) any element and have a tooltip placed center-bottom on hover.
 *
 * Because the tooltip text is sourced from a `data-*` attribute, do not use
 * it for any content which *needs* to be accessible: use it for decorative
 * information only.
 */

/**
 * 1. Tooltips require positioning context.
 */

/* line 18, /Users/adrian/Projekty/dsp - website/source/css/base/_tooltip.scss */

[data-tooltip] {
	position: relative; /* [1] */ /**
   * 1. Hide our tooltips by default. This is still ‘accessible’ as our tooltip
   *    text only exists in generated content anyway.
   */ /**
   * Show the tooltip when we give the element attention.
   *
   * 1. Fade tooltips in gradually so they don’t appear too abruptly.
   * 2. Populate the tooltips when we show the element some attention.
   * 3. Source the tooltip’s content from its `data-tooltip` attribute.
   */ /**
   * Create an arrow (linking the tooltip to its originator) using pure
   * CSS triangles.
   */ /**
   * The textual part of the tooltip.
   *
   * 1. Position the text center–bottom.
   */
}

/* line 25, /Users/adrian/Projekty/dsp - website/source/css/base/_tooltip.scss */

[data-tooltip]:before,
[data-tooltip]:after {
	content: none;
	content: normal;
}

/* line 43, /Users/adrian/Projekty/dsp - website/source/css/base/_tooltip.scss */

[data-tooltip]:hover:after,
[data-tooltip]:active:after,
[data-tooltip]:focus:after {
	-webkit-animation: 0.25s tooltip linear;
	animation: 0.25s tooltip linear;
}

/* line 53, /Users/adrian/Projekty/dsp - website/source/css/base/_tooltip.scss */

[data-tooltip]:hover:after,
[data-tooltip]:active:after,
[data-tooltip]:focus:after {
	content: attr(data-tooltip); /* [2] [3] */
}

/* line 80, /Users/adrian/Projekty/dsp - website/source/css/base/_tooltip.scss */

[data-tooltip]:after {
	position: absolute; /* [1] */
	bottom: 120%;
	left: 50%; /* [1] */
	border-radius: 3px;
	padding: .75em 1em;
	line-height: 1;
	margin-bottom: 3px;
	white-space: nowrap;
	font-weight: normal;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 12px;
}

/**
 * Animation to gradually fade tooltips in.
 */

/* line 2, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.group {
	*zoom: 1;
}

/* line 13, /Users/adrian/Projekty/dsp - website/source/css/mixins/_mixins.scss */

.group:before,
.group:after {
	content: " ";
	display: table;
}

/* line 19, /Users/adrian/Projekty/dsp - website/source/css/mixins/_mixins.scss */

.group:after {
	clear: both;
}

/* line 7, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.ct {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 93.75em;
	padding-left: 10px;
	padding-right: 10px;
}

/* line 38, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

img {
	max-width: 100%;
	border-width: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

/* line 45, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.img-inline {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

/* line 52, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.img-right {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* line 63, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.left {
	float: left;
}

/* line 66, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.right {
	float: right;
}

/* line 70, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.a-right {
	text-align: right;
}

/* line 74, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.a-center {
	text-align: center;
}

/* line 79, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

hr {
	display: block;
	margin: 0;
	margin-right: auto;
	height: 1px;
	border: 0;
	width: 50px;
	background: #B99A54;
	margin-bottom: 1.5em;
	box-shadow: 0 1px 0 #fff;
}

/* line 96, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

hr.inline {
	display: inline-block;
}

/* line 107, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.v-center {
	display: table;
	width: 100%;
}

/* line 114, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.v-centered {
	display: table-cell;
	vertical-align: middle;
}

/* line 122, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

::-webkit-input-placeholder {
	color: #bbb;
}

/* line 130, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

::-moz-placeholder { /* Firefox 19+ */
	color: #bbb;
}

/* line 134, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

:-ms-input-placeholder {
	color: #bbb;
}

/* line 138, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.nomg {
	margin-bottom: 0;
}

/* line 142, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.bullet-list {
	margin-top: 1em;
	margin-bottom: 2em;
}

/* line 149, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.bullet-list li {
	position: relative;
	padding-left: 20px;
	margin-bottom: .5em;
}

/* line 154, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.bullet-list li:last-child {
	margin-bottom: 0;
}

/* line 157, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.bullet-list li:before {
	content: '• ';
	position: absolute;
	left: 0;
	color: #B99A54;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/modules/_header.scss */

.header {
	width: 100%;
	padding-top: 5px;
	z-index: 1;
}

/* line 8, /Users/adrian/Projekty/dsp - website/source/css/modules/_header.scss */

.header--absolute {
	position: absolute;
}

/* line 13, /Users/adrian/Projekty/dsp - website/source/css/modules/_header.scss */

.logo {
	display: block;
}

/* line 15, /Users/adrian/Projekty/dsp - website/source/css/modules/_header.scss */

.logo img {
	width: 100px;
}

/* line 23, /Users/adrian/Projekty/dsp - website/source/css/modules/_header.scss */

.nav ul li a {
	font-weight: 400;
	font-family: "Open Sans", Helvetica, sans-serif;
	display: block;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

/* line 28, /Users/adrian/Projekty/dsp - website/source/css/modules/_header.scss */

.nav ul li a:hover {
	color: #00B4F1;
}

/* line 40, /Users/adrian/Projekty/dsp - website/source/css/modules/_header.scss */

.nav .active a {
	color: #00B4F1;
}

/* line 45, /Users/adrian/Projekty/dsp - website/source/css/modules/_header.scss */

.flex-ct {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

/* line 6, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.nav--main ul li {
	display: block;
	margin-bottom: 2em;
	padding-left: 3em;
}

/* line 10, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.nav--main ul li:last-child {
	margin-bottom: 0;
}

/* line 18, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.nav--main ul li a {
	padding-left: 2px;
	padding-right: 2px;
	color: #eee;
	display: inline-block;
	text-transform: uppercase;
}

/* line 32, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.nav--main ul,
.nav--main li {
	line-height: 1;
}

/* line 39, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.nav--main {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	background: rgba(17, 17, 17, 0.95);
	padding: 4em 1em;
	-webkit-transform: translateY(-110%);
	-ms-transform: translateY(-110%);
	transform: translateY(-110%);
	-webkit-transform: translate3d(0, -110%, 0);
	transform: translate3d(0, -110%, 0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

/* line 69, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.show-menu .nav--main {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

/* line 80, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

#menu-link {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 5;
}

/* line 94, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

#menu-link span {
	font-family: "Open Sans", Helvetica, sans-serif;
	text-transform: uppercase;
}

/* line 99, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

#menu-link span,
.hamburger {
	display: inline-block;
	vertical-align: middle;
}

/* line 105, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.hamburger div {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	border-radius: 1px;
	margin-left: 5px;
	margin-bottom: 4px;
	background: #fff;
	height: 4px;
	width: 28px;
	background: #010101;
}

/* line 118, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.show-menu .hamburger div:nth-of-type(1) {
	-webkit-transform: rotate(45deg) translate3d(6px, 5px, 0);
	transform: rotate(45deg) translate3d(6px, 5px, 0);
	background: #fff;
}

/* line 122, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.show-menu .hamburger div:nth-of-type(2) {
	opacity: 0;
}

/* line 125, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.show-menu .hamburger div:nth-of-type(3) {
	-webkit-transform: rotate(-45deg) translate3d(6px, -5px, 0);
	transform: rotate(-45deg) translate3d(6px, -5px, 0);
	background: #fff;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_hero.scss */

.hero {
	position: relative;
	width: 100%;
	height: calc(100% - 2rem);
	min-height: 600px;
	max-height: 900px;
}

/* line 10, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_hero.scss */

.fixed-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* line 17, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_hero.scss */

.headline-main {
	padding-bottom: 3em;
}

/* line 22, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_hero.scss */

.headline-main h1 {
	color: #010101;
	padding-bottom: .5em;
}

/* line 3, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.section-content {
	padding: 5em 0;
}

/* line 12, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.section-content p {
	margin-bottom: 1em;
}

/* line 20, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.section-info h3 {
	color: #B99A54;
	font-weight: 300;
}

/* line 26, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.section h2 {
	font-weight: 300;
	max-width: 1000px;
	padding-bottom: 2em;
	line-height: 1.3;
	color: #B99A54;
}

/* line 39, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.headline-img {
	background: #222 url(/images/people2_small.jpg) center center no-repeat;
	background-size: cover;
	padding: 5em 0;
}

/* line 51, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.headline-img h2 {
	padding-bottom: 0;
}

/* line 56, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.section-discover {
	background: #010101;
}

/* line 65, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.section-discover p {
	color: #eee;
}

/* line 71, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.section-content p,
.section-content li {
	max-width: 750px;
}

/* line 78, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.section-content blockquote {
	max-width: 700px;
}

/* line 82, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.section-cta {
	padding: 5em 0;
	text-align: center;
}

/* line 85, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.section-cta p {
	font-weight: 700;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

/* line 3, /Users/adrian/Projekty/dsp - website/source/css/modules/blog/_blog-index.scss */

.blog article img {
	height: 300px;
}

/* line 2, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.section-help h2 {
	padding-bottom: 0;
}

/* line 10, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.section-strony {
	background: #181818;
}

/* line 12, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.section-strony h4 {
	color: #B99A54;
}

/* line 17, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.features-item {
	margin-bottom: 3em;
}

/* line 27, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.features-item p {
	color: #eee;
	width: 90%;
}

/* line 37, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.section-proces {
	background-color: #f7f7f7;
}

/* line 39, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.section-proces p {
	margin-bottom: .5em;
}

/* line 42, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.section-proces .bullet-list {
	margin-top: 0;
	margin-bottom: 1.5em;
}

/* line 51, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-head {
	margin-bottom: 2em;
}

/* line 63, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-info {
	margin-bottom: 4em;
}

/* line 89, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-number {
	color: #B99A54;
	font-size: 30px;
	margin: 0;
	display: block;
	line-height: 1;
}

/* line 102, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-title {
	font-weight: 700;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 5px;
	line-height: 1.1;
}

/* line 119, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-subtitle {
	font-weight: 400;
	font-size: 14px;
	color: #B99A54;
	font-family: "Open Sans", Helvetica, sans-serif;
}

/* line 129, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.dsp-quote {
	background: #B99A54 url(/images/quote.jpg) center center no-repeat;
	background-size: cover;
	background: #B99A54;
	padding: 3em 0 5em;
	text-align: center;
}

/* line 142, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.dsp-quote p {
	font-weight: 300;
	color: #eee;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

/* line 160, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.section-ways h2,
.section-ways h4 {
	max-width: none;
	text-align: center;
}

/* line 168, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.section-ways h2 {
	color: #010101;
}

/* line 172, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.section-ways h4 {
	padding-bottom: 1em;
	color: #B99A54;
}

/* line 185, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.ways-item {
	margin-bottom: 3em;
}

/* line 202, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.ways-img {
	height: 120px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

/* line 218, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.section-cta-uslugi {
	text-align: center;
	width: 100%;
	background: #f7f7f7;
}

/* line 222, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.section-cta-uslugi h2 {
	max-width: none;
	font-weight: 700;
	color: #010101;
	padding-bottom: 1em;
}

/* line 231, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.section-cta-uslugi p {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

/* line 238, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.cta-mail {
	font-size: 24px;
	color: #00B4F1;
	border-bottom: 1px solid transparent;
	-webkit-transition: all .25s;
	transition: all .25s;
}

/* line 249, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.cta-mail:hover {
	color: #00B4F1;
	border-bottom-color: #00B4F1;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.kto .footer {
	border-top: none;
}

/* line 5, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.section-bio {
	background: #f7f7f7;
}

/* line 23, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.img-about {
	margin-bottom: 7em;
}

/* line 28, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.bio-img {
	margin-bottom: 1em;
}

/* line 41, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.bio-info {
	margin-bottom: 3em;
}

/* line 64, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.bio-name {
	display: block;
	font-size: 18px;
	margin-top: 1em;
	font-weight: 200;
	font-family: "Open Sans", Helvetica, sans-serif;
	line-height: 1;
}

/* line 75, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.bio-link {
	font-size: 14px;
	color: #00B4F1;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer {
	background: #fff url(/images/dsp_footer.svg) center bottom no-repeat;
	border-bottom: 5px solid #010101;
	background-size: 115% auto;
	overflow: hidden;
	padding-top: 5em;
	padding-bottom: 5em;
	border-top: 1px solid #ddd;
}

/* line 16, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer p,
.footer a {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

/* line 28, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer__contact {
	width: 100%;
}

/* line 36, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer__contact hr {
	margin-top: .5em;
}

/* line 42, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.nav--footer {
	width: 100%;
	margin: 2em 0 4em;
}

/* line 55, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.nav--footer li {
	margin-bottom: .5em;
}

/* line 64, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer__copyright {
	width: 100%;
}

/* line 78, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer__copyright p {
	font-size: 12px;
}

/* line 81, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer__copyright hr {
	background: #ddd;
	margin-bottom: .5em;
}

@media screen and (min-width: 37.5em) {

/* line 31, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-s-full {
	width: 100%;
}

/* line 34, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-s-1of2 {
	width: 50%;
}

/* line 37, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-s-1of3 {
	width: 33.3333%;
}

/* line 40, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-s-2of3 {
	width: 66.6667%;
}

/* line 43, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-s-1of4 {
	width: 25%;
}

/* line 47, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-s-1of6 {
	width: 16.6666%;
}

/* line 51, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-s-3of4 {
	width: 75%;
}

/* line 116, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-s {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* line 210, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-s--fit > .grid-cell {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/* line 213, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-s--full > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

/* line 216, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-s--1of2 > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

/* line 219, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-s--1of3 > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.3333%;
	-ms-flex: 0 0 33.3333%;
	flex: 0 0 33.3333%;
}

/* line 222, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-s--1of4 > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 25%;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
}

/* line 286, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-s--gutters {
	margin: -1em 0 1em -1em;
}

/* line 289, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-s--gutters > .grid-cell {
	padding: 1em 0 0 1em;
}

/* line 292, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-s--gutters-l {
	margin: -1.5em 0 1.5em -1.5em;
}

/* line 295, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-s--gutters-l > .grid-cell {
	padding: 1.5em 0 0 1.5em;
}

/* line 298, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-s--gutters-xl {
	margin: -2em 0 2em -2em;
}

/* line 301, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-s--gutters-xl > .grid-cell {
	padding: 2em 0 0 2em;
}

/* line 19, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h1 {
	font-size: 44px;
}

/* line 38, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h2 {
	font-size: 28px;
}

/* line 39, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

p,
.font-24,
ul.font-24 li {
	font-size: 20px;
}

/* line 7, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.ct {
	padding-left: 40px;
	padding-right: 40px;
}

/* line 52, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.img-right {
	float: right;
}

/* line 80, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

#menu-link {
	right: 40px;
}

/* line 17, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.features-item {
	margin-bottom: 2em;
	width: 50%;
}

/* line 51, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-head {
	margin-bottom: 0;
	width: 33.3333%;
}

/* line 63, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-info {
	width: 66.6666%;
}

/* line 73, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-head,
.proces-info {
	margin-bottom: 6em;
	border-top: 1px solid #ddd;
}

/* line 78, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-head:first-child,
.proces-head:nth-child(2),
.proces-info:first-child,
.proces-info:nth-child(2) {
	border-top: 0;
}

/* line 89, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-number {
	font-size: 45px;
}

/* line 102, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-title {
	font-size: 26px;
}

/* line 142, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.dsp-quote p {
	font-size: 24px;
}

/* line 178, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.ways-content {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* line 185, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.ways-item {
	width: 50%;
}

/* line 16, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.kto-item {
	width: 50%;
}

/* line 28, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.bio-img {
	margin-bottom: 3em;
	width: 33.3333%;
}

/* line 41, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.bio-info {
	width: 66.6666%;
}

/* line 50, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.bio-info p {
	padding-left: 1em;
}

/* line 28, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer__contact {
	width: 75%;
}

/* line 42, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.nav--footer {
	margin: 0;
	width: 25%;
	margin-bottom: 1em;
}

/* line 64, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer__copyright {
	width: 25%;
	margin-left: 75%;
}

}

@media screen and (min-width: 60em) {

/* line 57, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-m-full {
	width: 100%;
}

/* line 60, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-m-1of2 {
	width: 50%;
}

/* line 63, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-m-1of3 {
	width: 33.3333%;
}

/* line 66, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-m-2of3 {
	width: 66.6667%;
}

/* line 69, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-m-1of4 {
	width: 25%;
}

/* line 72, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-m-1of6 {
	width: 16.6666%;
}

/* line 75, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-m-3of4 {
	width: 75%;
}

/* line 126, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* line 228, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-m--fit > .grid-cell {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/* line 231, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-m--full > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

/* line 234, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-m--1of2 > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

/* line 237, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-m--1of3 > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.3333%;
	-ms-flex: 0 0 33.3333%;
	flex: 0 0 33.3333%;
}

/* line 240, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-m--1of4 > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 25%;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
}

/* line 307, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-m--gutters {
	margin: -1em 0 1em -1em;
}

/* line 310, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-m--gutters > .grid-cell {
	padding: 1em 0 0 1em;
}

/* line 313, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-m--gutters-l {
	margin: -1.5em 0 1.5em -1.5em;
}

/* line 316, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-m--gutters-l > .grid-cell {
	padding: 1.5em 0 0 1.5em;
}

/* line 319, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-m--gutters-xl {
	margin: -2em 0 2em -2em;
}

/* line 322, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-m--gutters-xl > .grid-cell {
	padding: 2em 0 0 2em;
}

/* line 5, /Users/adrian/Projekty/dsp - website/source/css/_layout.scss */

.section {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

/* line 19, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h1 {
	font-size: 54px;
}

/* line 38, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h2 {
	font-size: 32px;
}

/* line 56, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h3 {
	font-size: 28px;
}

/* line 72, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h4 {
	font-size: 20px;
}

/* line 12, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

.font-18,
ul.font-18 li {
	font-size: 18px;
}

/* line 20, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

.font-20,
ul.font-20 li {
	font-size: 20px;
}

/* line 39, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

p,
.font-24,
ul.font-24 li {
	font-size: 22px;
}

/* line 142, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

.bullet-list {
	margin-bottom: 3em;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.nav--main {
	margin-left: 2em;
}

/* line 6, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.nav--main ul li {
	margin-bottom: 0;
	display: inline-block;
}

/* line 18, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.nav--main ul li a {
	text-transform: none;
	color: #333;
	display: block;
}

/* line 39, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.nav--main {
	width: auto;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	-webkit-transition: none;
	transition: none;
	padding: 0;
	background: transparent;
	position: static;
}

/* line 63, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.nav--main li:first-child {
	display: none;
}

/* line 69, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

.show-menu .nav--main {
	-webkit-transition: none;
	transition: none;
}

/* line 80, /Users/adrian/Projekty/dsp - website/source/css/modules/_menu.scss */

#menu-link {
	display: none;
}

/* line 39, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.headline-img {
	background: #222 url(/images/people2.jpg) center center no-repeat;
	background-size: cover;
}

/* line 56, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.section-discover {
	background: #010101 url(/images/ocean.jpg) left center no-repeat;
	background-size: cover;
}

/* line 129, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.dsp-quote {
	padding: 6em 0 8em;
}

/* line 142, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.dsp-quote p {
	font-size: 32px;
}

/* line 222, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.section-cta-uslugi h2 {
	padding-bottom: 2em;
}

/* line 238, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.cta-mail {
	font-size: 30px;
}

/* line 28, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.bio-img {
	margin-bottom: 0;
	width: 16.6666%;
}

/* line 41, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.bio-info {
	margin-bottom: 0;
	width: 33.3333%;
}

/* line 50, /Users/adrian/Projekty/dsp - website/source/css/modules/_kto.scss */

.bio-info p {
	padding-right: 2em;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer {
	padding-bottom: 7em;
}

/* line 28, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer__contact {
	width: 25%;
}

/* line 42, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.nav--footer {
	width: 75%;
	text-align: right;
}

/* line 55, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.nav--footer li {
	display: inline-block;
	margin-left: 1.5em;
}

/* line 64, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer__copyright {
	text-align: right;
}

}

@media screen and (min-width: 80em) {

/* line 81, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-l-full {
	width: 100%;
}

/* line 84, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-l-1of2 {
	width: 50%;
}

/* line 87, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-l-1of3 {
	width: 33.3333%;
}

/* line 90, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-l-2of3 {
	width: 66.6667%;
}

/* line 93, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-l-1of4 {
	width: 25%;
}

/* line 96, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-l-1of6 {
	width: 16.6666%;
}

/* line 99, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.u-l-3of4 {
	width: 75%;
}

/* line 136, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-l {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* line 246, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-l--fit > .grid-cell {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/* line 249, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-l--full > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

/* line 252, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-l--1of2 > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

/* line 255, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-l--1of3 > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.3333%;
	-ms-flex: 0 0 33.3333%;
	flex: 0 0 33.3333%;
}

/* line 258, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-l--1of4 > .grid-cell {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 25%;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
}

/* line 328, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-l--gutters {
	margin: -1em 0 1em -1em;
}

/* line 331, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-l--gutters > .grid-cell {
	padding: 1em 0 0 1em;
}

/* line 334, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-l--gutters-l {
	margin: -1.5em 0 1.5em -1.5em;
}

/* line 337, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-l--gutters-l > .grid-cell {
	padding: 1.5em 0 0 1.5em;
}

/* line 340, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-l--gutters-xl {
	margin: -2em 0 2em -2em;
}

/* line 343, /Users/adrian/Projekty/dsp - website/source/css/base/_grid.scss */

.grid-l--gutters-xl > .grid-cell {
	padding: 2em 0 0 2em;
}

/* line 19, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h1 {
	font-size: 62px;
}

/* line 38, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h2 {
	font-size: 40px;
	padding-bottom: .5em;
}

/* line 17, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_hero.scss */

.headline-main {
	padding-bottom: 7em;
}

/* line 3, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.section-content {
	padding: 7em 0;
}

/* line 39, /Users/adrian/Projekty/dsp - website/source/css/modules/home/_sections.scss */

.headline-img {
	padding: 10em 0;
}

/* line 17, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.features-item {
	width: 25%;
}

/* line 27, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.features-item p {
	margin-bottom: 1em;
}

/* line 51, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-head {
	width: 16.6666%;
}

/* line 63, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-info {
	width: 33.3333%;
}

/* line 73, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-head,
.proces-info {
	border-top: 0;
}

/* line 89, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-number {
	font-size: 60px;
}

/* line 102, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.proces-title {
	font-size: 30px;
	margin-top: 15px;
}

/* line 129, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.dsp-quote {
	padding: 8em 0 10em;
}

/* line 142, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.dsp-quote p {
	font-size: 40px;
}

/* line 185, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.ways-item {
	width: 33.3333%;
}

/* line 238, /Users/adrian/Projekty/dsp - website/source/css/modules/_uslugi.scss */

.cta-mail {
	font-size: 40px;
}

/* line 1, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer {
	background-size: 95% auto;
	padding-bottom: 10em;
}

/* line 64, /Users/adrian/Projekty/dsp - website/source/css/modules/_footer.scss */

.footer__copyright {
	margin-top: 1em;
}

}

@media screen and (min-width: 93.75em) {

/* line 19, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-headings.scss */

h1 {
	font-size: 70px;
}

/* line 39, /Users/adrian/Projekty/dsp - website/source/css/base/_typography-other.scss */

p,
.font-24,
ul.font-24 li {
	font-size: 24px;
}

}

@media all and (max-width: 1023px) {

/* line 30, /Users/adrian/Projekty/dsp - website/source/css/base/_utilities.scss */

head {
	font-family: menuscreen;
}

}

@-webkit-keyframes tooltip {

from {
	opacity: 0;
}

66.666% {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes tooltip {

from {
	opacity: 0;
}

66.666% {
	opacity: 0;
}

to {
	opacity: 1;
}

}

