---
title: Słaba strona to kiepski biznes, czyli jak widzą cię odbiorcy
date: 2015-11-11
tags: example
summary: 
thumbnail: thumb.jpg
header: header--inverted header--borderbottom-full
author: Adrian
---

= bgimg('img-bg.jpg', class: 'bg-img bg-shade color-inverted bg-height-2 align-bottom')



%header
  .section-inner  
    %h1.h2 Słaba strona to kiepski biznes, czyli jak widzą cię odbiorcy

%section
  .section-inner
    %p Jeśli Twoja strona internetowa wygląda tandetnie, tekst jest niezrozumiały i mało istotny dla Twoich odbiorców, takie wrażenie przeniesie się również na Twoją firmę. Możesz mieć świetne produkty, ważną misję i długoterminową wizję, ale jeśli nie potrafisz ich przedstawić jasno i w mocny sposób, ludzie tego nie zrozumieją, nie docenią i przede wszystkim nie będą działać zgodnie z Twoimi oczekiwaniami. 
    
    %h4 Odbicie Twojej firmy
    %p  Czy tego chcesz czy nie, Twoja strona internetowa odzwierciedla Twój biznes. I mimo, że działa 24h na dobę, wcale nie oznacza, że działa w Twoim najlepszym interesie. Często odnosi wręcz przeciwny skutek.

    %p Pomyśl co by było, gdybyś zaprosił swojego potencjalnego klienta do zagraconego biura. No właśnie. A teraz przypuśćmy, że biuro jest zadbane i nowoczesne. Pierwsze wrażenie super. Ty natomiast mówisz do klienta językiem, którego on nie rozumie lub co gorsze, tylko powtarzasz <a href="/blog/spraw-by-przestali-ziewac/">banały</a>, całkowicie dla niego obojętne. Czy myślisz, że uda Ci się przekonać go do siebie? Konkurencja przecież nie śpi.
      
    %blockquote.pull-right.no-quote
      Jasne, możesz mieć słabą stronę i wciąż dostarczać świetne produkty i usługi. Ale Twoi potencjalni klienci tego nie wiedzą.

    %p Pewnie zadajesz sobie pytanie - „co wspólnego ma wygląd mojej strony z jakością moich produktów?”. Jasne, możesz mieć słabą stronę i wciąż dostarczać świetne produkty i usługi. Ale Twoi potencjalni klienci tego nie wiedzą.  Nie widzą Twojego biznesu od środka, tak jak Ty. To co widzą, to witryna sklepowa. Jeśli im się nie podoba  - zakładają najgorsze.

    %p Zadaniem strony jest komunikować informacje tak skutecznie, jak to tylko możliwe. Samo ich znalezienie nie jest wystarczające. Liczy się również zrozumienie tych informacji i ich przydatność dla Twoich odbiorców. Bo od ich satysfakcji w dużej mierze zależy osiągnięcie Twoich celów biznesowych.
       

%section.bg-color.bg-grey
  .section-inner
    =br
    %blockquote.font-larger
      "Inni mają stronę www, więc wypada, żebym ja też miał"
      %cite Wielu mikro i drobnych przedsiębiorców 
  
    %p Świadomość dotycząca wpływu internetu na biznes znacznie się poprawiła w ostatnim czasie. Mimo to, głównie wśród najmniejszych firm, panuje przekonanie, że strona internetowa to zło konieczne.

    %p Właściciele zapominają, że jej głównym zadaniem i jednocześnie celem jest rozwój biznesu i generowanie zysku. Nie tylko bezpośrednio - przez sprzedaż produktów i usług - ale również i przede wszystkim pośrednio- wpływając na wiarygodność, budując zaufanie i lojalność klientów. Strona nie jest już tylko miejscem, gdzie można sprawdzić informację „jak dojechać”.
    =br

%section
  .section-inner
    %p Zapomnij na chwilę o technologii, ładnych czcionkach, kolorach i dużych zdjęciach. To wszystko jest oczywiście bardzo ważne i ma duży wpływ na to, czy odwiedzający będą chcieli bliżej poznać Twoją ofertę. Jednak ludzie nie odwiedzają Twojej strony z tego powodu. Zastanów się, czy komunikujesz sie z nimi. Czy Twoja oferta pokazuje im korzyści, jakie mogą uzyskać. 

    %blockquote.pullquote
      Twoich klientów nie interesuje to co robisz, ale to co możesz zrobić dla nich. To istotna różnica.

    %p  Na stronach internetowych chodzi o komunikację, o zamianę reklamy Twojego biznesu w treść, a treści w doświadczenie, które odwiedzający zapamietają. Niech więc pamiętają, że Twój biznes to dobry biznes.

    -# %p  A tak na marginesie, zamiast kiepskiej strony, lepiej nie mieć jej wcale. Do sprawdzenia kontaktu czy informacji „jak dojechać”, wystarczą media społecznościowe.
