---
title: Dlaczego warto upraszczać strony internetowe
date: 2015-10-28
tags: example
summary: 
thumbnail: 
header: header--inverted header--borderbottom-full
author: Adrian
---

%header
  .section-inner  
    %h1.h2 Dlaczego warto upraszczać strony internetowe

%section
  .section-inner 
    %p W „da się prościej” wierzymy, że kluczem do sukcesu strony internetowej jest przede wszystkim jej prostota. Ale co to właściwie oznacza? Kiedy możemy powiedzieć, że strona jest prosta? I w jaki sposób przekłada się to na korzyść, zarówno dla właściciela jak i odbiorcy witryny?

    %p Zatem po kolei.

   

    %h3 Co rozumiemy pod pojęciem prostoty?

    %p W dużym uogólnieniu, produkt jest prosty wtedy, gdy nie potrzebujesz instrukcji, by go używać. Jeśli coś wydaje się łatwe w użyciu, zakładamy że jest to proste. Prostota tkwi więc nie tylko w tym, jak coś wygląda, ale też w tym, co robi i jak działa. 
    
    %p W opinii większości panuje przekonanie, że w prostocie chodzi o mniej - o redukcję i usuwanie zbędnych elementów. Ale tutaj chodzi tak naprawdę o zrozumienie i przejrzystość celów. Czy umiemy zaprojektować tak, że ludzie odrazu zrozumieją co się dzieje i podejmą decyzję co robić dalej.
    
    %p Prostota jest często mylona ze stylem minimalistycznym. Nie są to jednak pojecia jednoznaczne, o czym piszę w artykule <a href="/blog/prostota-vs-minimalizm/">'Mniej nie zawsze znaczy więcej, czyli dlaczego proste to niekoniecznie minimalistyczne'</a>. W niektórych przypadkach, potrzeba czegoś więcej, by być prostym.  Nie powinniśmy więc myśleć o prostocie w kategorii „mniej”. Tak naprawdę chodzi o wystarczająco. Wystarczająco, by zrozumieć.

    


    %h3 Wystarczająco, ale dla kogo?
    
    %p Postrzeganie prostoty lub złożoności strony www zmienia się w zależnosci od tego, kto jest użytkownikem. Coś, co jest proste dla jednych, może takie nie być dla drugich.

    %p Na przykład, jeśli designer projektuje dla innych projektantów np. w konkursach, wtedy może usunąć etykiety z ikon czy ukrywać nawigację nawet na dużych ekranach. Jeśli jednak designer projektuje z myślą, że strona będzie używana przez konkretną grupę np. lekarzy, powinien raczej używać jednoznacznych etykiet, korzystać z wypróbowanych wzorców interakcji itp. Tym samym, czyni życie odbiorców łatwiejszym. Nawet jeśli wprowadza to więcej bałaganu do projektu i przez to okazuje się on mniej innowacyjny czy też nowatorski.

    %p Zawsze najważniejszy jest użytkownik. Bez niego strona traci znaczenie i cel. Dlatego tak ważne jest określenie odbiorców, zrozumienie ich potrzeb i oczekiwań. Grupa docelowa stanowi kontekst do tego, jak ocenić sukces designu. Hasło „nie jesteś swoim użytkownikiem” jest tu szczególnie istotne, i dla projektanta i dla właściciela strony.


    %h3 Prostota to zrozumienie

    %p Każdy z nas chce być dobrze zrozumiany. To jedna z głównych potrzeb ludzkich i podstawa komunikacji interpersonalnej. Strona internetowa to z kolei fundament naszej komunikacji w internecie. I podobnie jak w życiu realnym, komunikacja jest skuteczna wtedy, gdy odbiorca rozumie przekaz tak, jak zamierzał go przekazać nadawca.
    -# %p Gdy informacja nadawcy oddaje jego intencje, a interpretacja odbiorcy zbiega się z zamiarami nadawcy.

    %p Uczynić stronę prostą to zrobić ją łatwą w odbiorze i zrozumieniu dla Twoich odbiorców. To przekazać im informacje, których oczekują i które pozwolą im podjąć decyzje, jakich Ty od nich oczekujesz. To jest najważniejsze wyzwanie, ale też odpowiedzialność projektanta stron (pisząc o projektowaniu mam na myśli wszystko, co z tym związane, nie tylko warstwę wizualną).

    %p Zaryzykuję stwierdzenie, że na stronach internetowych jesteśmy odpowiedzialni nie tylko za to co powiedzieliśmy, ale też za to, co inni zrozumieli. Bo od tego, jak inni cię zrozumieli, zależy porozumienie, relacje i sukces.
      

    