---
title: Dobra strona to dobry biznes
date: 2015-10-28
tags: example
summary: 
thumbnail: 
header: header--inverted header--borderbottom-full
author: Adrian
---

%header
  .section-inner  
    %h1 Dobra strona to dobry biznes

%section
  .section-inner
    :markdown
      Jeśli Twoja strona internetowa wygląda tandetnie, tekst jest niezrozumiały i mało istotny dla Twoich odbiorców, takie wrażenie przeniesie się również na Twoją firmę. Możesz mieć świetne produkty, ważną misję i długoterminową wizję, ale jeśli nie potrafisz ich przedstawić jasno i w mocny sposób, ludzie tego nie zrozumieją, nie docenią i przede wszystkim nie będą działać zgodnie z Twoimi oczekiwaniami. 

      Czy tego chcesz czy nie, Twoja strona internetowa odzwierciedla Twój biznes. I mimo, że działa 24h na dobę, wcale nie oznacza, że działa w Twoim najlepszym interesie. Często odnosi wręcz przeciwny skutek. Pomyśl co by było, gdybyś zaprosił swojego potencjalnego klienta do zagraconego, niechlujnego biura. No właśnie.

      Zadaniem strony www jest komunikować informacje tak skutecznie, jak to tylko możliwe. Samo ich znalezienie nie jest wystarczające. Liczy się również zrozumienie tych informacji i ich przydatność dla Twoich odbiorców.

%section.bg-color.bg-grey
  .section-inner
    =br
    %blockquote.font-larger
      "Inni mają stronę www, więc wypada żebym ja też miał"
      %cite Wielu mikro i drobnych przedsiębiorców 
  
    %p Świadomość dotycząca wpływu internetu na biznes znacznie się poprawiła w ostatnim czasie. Mimo to, głównie wśród najmniejszych firm, panuje przekonanie, że strona internetowa to zło konieczne. Właściciele zapominają, że jej głównym zadaniem i jednocześnie celem jest rozwój biznesu i generowanie zysku. Nie tylko bezpośrednio - przez sprzedaż produktów i usług - ale również i przede wszystkim pośrednio- wpływając na wiarygodność, budując zaufanie i lojalność klientów.
    =br

%section
  .section-inner
    %p Zapomnij na chwilę o technologii, ładnych czcionkach, kolorach i dużych zdjęciach. Ludzie nie odwiedzają Twojej strony z tego powodu. Zastanów się, czy komunikujesz sie z nimi. Czy Twoja oferta pokazuje im korzyści, jakie mogą uzyskać. 

    %blockquote.pullquote
      Twoich klientów nie interesuje to co robisz, ale to co możesz zrobić dla nich. To istotna różnica.

    %p  Na stronach www chodzi o komunikację, o zamianę reklamy Twojego biznesu w treść, a treści w doświadczenie, które odwiedzający zapamietają. Niech więc pamiętają, że Twój biznes to dobry biznes.

    %p  A na zakończenie dodam, że zamiast kiepskiej strony, lepiej nie mieć jej wcale. Do sprawdzenia kontaktu czy informacji „jak dojechać”, wystarczą media społecznościowe.