---
title: Example Article
date: 2015-08-01
tags: example
header_class: 
---

- content_for :art do
  :css

  
%header.article-head

%section
  .section-inner
    %h1 Heading 1
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repudiandae fugiat, eius ullam perspiciatis cum adipisci consectetur laudantium reiciendis ratione officiis labore eos earum a fuga minus nemo, mollitia eaque?
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ex beatae sequi, quidem odit animi, tempora magni assumenda fugit sunt tenetur vero itaque officiis nam repellat aspernatur dicta deserunt perspiciatis.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi cupiditate, enim itaque fuga eaque possimus mollitia, nemo labore quos nihil nam alias! Possimus omnis aperiam quis inventore, labore eveniet et!
    %h2 Heading 2
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis adipisci laborum ut magnam maxime voluptas asperiores cum minus ex vero veritatis minima, dolorem velit aut non, dolor, voluptatum aliquam labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate doloremque rerum maxime inventore suscipit, voluptatum consectetur, porro eaque accusantium, repellendus ipsa veritatis. In minima expedita quibusdam voluptas, nihil saepe culpa.
    %blockquote
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque vel assumenda suscipit eveniet sequi ipsa, laboriosam incidunt facilis repudiandae ipsum nostrum, iste tempore corporis sint eos quae aliquam, ad.
      %cite
        Bebe
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, dolores, commodi? Fugit eveniet vel deserunt molestias suscipit, reprehenderit doloremque delectus dolorem enim voluptas repellendus a debitis, explicabo numquam, quis. Nostrum.
    %h3 Heading 3
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi sed tempora, veritatis voluptas! Totam numquam nesciunt aliquam quasi quidem in, reiciendis minus commodi, et exercitationem eveniet non aut, voluptate velit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore recusandae, beatae architecto explicabo doloremque facilis autem dolorem, libero provident. Eius tempore ea assumenda iure facilis quaerat tenetur similique necessitatibus quis?
    
    :markdown
     
      + lista 1
      + Lista 2
      + Lista 3

      1. Lista 1
      2. Lista 2
      3. Lista 3
    
%section.blue
  .section-inner
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repudiandae fugiat, eius ullam perspiciatis cum adipisci consectetur laudantium reiciendis ratione officiis labore eos earum a fuga minus nemo, mollitia eaque?
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ex beatae sequi, quidem odit animi, tempora magni assumenda fugit sunt tenetur vero itaque officiis nam repellat aspernatur dicta deserunt perspiciatis.
%section
  .section-inner
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repudiandae fugiat, eius ullam perspiciatis cum adipisci consectetur laudantium reiciendis ratione officiis labore eos earum a fuga minus nemo, mollitia eaque?
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ex beatae sequi, quidem odit animi, tempora magni assumenda fugit sunt tenetur vero itaque officiis nam repellat aspernatur dicta deserunt perspiciatis.

%section.grey
  .section-inner
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, aspernatur, blanditiis. Id quaerat dolores reiciendis dignissimos, odio veritatis asperiores ut et rem a alias quos iusto voluptas quasi tenetur non.    

%section
  .section-inner
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repudiandae fugiat, eius ullam perspiciatis cum adipisci consectetur laudantium reiciendis ratione officiis labore eos earum a fuga minus nemo, mollitia eaque?
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ex beatae sequi, quidem odit animi, tempora magni assumenda fugit sunt tenetur vero itaque officiis nam repellat aspernatur dicta deserunt perspiciatis.