---
title: Example Article
date: 2015-08-01
tags: example
header_class: 
---

- content_for :art do
  :css

  
%header.article-head

%section
  .section-inner
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repudiandae fugiat, eius ullam perspiciatis cum adipisci consectetur laudantium reiciendis ratione officiis labore eos earum a fuga minus nemo, mollitia eaque?
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ex beatae sequi, quidem odit animi, tempora magni assumenda fugit sunt tenetur vero itaque officiis nam repellat aspernatur dicta deserunt perspiciatis.

%section.blue
  .section-inner
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repudiandae fugiat, eius ullam perspiciatis cum adipisci consectetur laudantium reiciendis ratione officiis labore eos earum a fuga minus nemo, mollitia eaque?
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ex beatae sequi, quidem odit animi, tempora magni assumenda fugit sunt tenetur vero itaque officiis nam repellat aspernatur dicta deserunt perspiciatis.
%section
  .section-inner
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repudiandae fugiat, eius ullam perspiciatis cum adipisci consectetur laudantium reiciendis ratione officiis labore eos earum a fuga minus nemo, mollitia eaque?
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ex beatae sequi, quidem odit animi, tempora magni assumenda fugit sunt tenetur vero itaque officiis nam repellat aspernatur dicta deserunt perspiciatis.

%section.grey
  .section-inner
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, aspernatur, blanditiis. Id quaerat dolores reiciendis dignissimos, odio veritatis asperiores ut et rem a alias quos iusto voluptas quasi tenetur non.    

%section
  .section-inner
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repudiandae fugiat, eius ullam perspiciatis cum adipisci consectetur laudantium reiciendis ratione officiis labore eos earum a fuga minus nemo, mollitia eaque?
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ex beatae sequi, quidem odit animi, tempora magni assumenda fugit sunt tenetur vero itaque officiis nam repellat aspernatur dicta deserunt perspiciatis.