---
title: Example Article 3
date: 2012-03-01
tags: example
summary: To jest podsumowanie tego posta, nie wiem na ile liter to ma byc 
thumbnail: img-main-thumbnail.jpg
---

%section
  .section-inner    
    %p Właściciele stron internetowych odczuwają silną - w pełni uzasadnioną zresztą - potrzebę, by pokazać siebie i swoje usługi od jak najlepszej strony. Problem z zaspokojeniem tej potrzeby pojawia się W jednak I już w momencie wyboru słów, które miałyby spełnić to zadanie. Bardzo często bowiem zdarza się, że użyte na stronie www sformułowania należą do kategorii, którą ja nazywam ‘niewidzialnymi słowami’.
    
    %h3 Co to są niewidzialne słowa? 
    %p Są to słowa i zwroty, które czytający świadomie pomija i nie zwraca na nie uwagi, ponieważ nie mają one dla niego kompletnie żadnego znaczenia. Krótko mówiąc: są to zwroty tak oklepane, że już dawno przestały budzić emocje, a ich znaczenie jest zupełnie obojętne dla czytającego.

    %p Takie zwroty można podzielić przynajmniej na dwie kategorie:
    
    %h4 1. Przymiotniki
    %p A zwłaszcza wszelkie ‘pieśni pochwalne’ i superlatywy oraz ich przesadne nagromadzenie w zdaniu. “Świadczymy profesjonalne usługi na najwyższym poziomie, oferując Państwu innowacyjny produkt oraz indywidualne podejście do każdego klienta.” Brzmi znajomo? To dlatego, że jest niestety tak powszechne.
    %h4 2. Pospolite sformułowania
    %p Powszechna obecność na ogromnej liczbie stron internetowych spowodowała ‘wypłukanie’ tych słów z ich znaczenia. Już dawno przestały one budzić jakąkolwiek ciekawość, refleksję i być rozumiane w sposób, w jaki twórcy tekstu chcieliby, żeby były.  

