---
title: Example Article
date: 2015-08-01
tags: example
header_class: 
---

- content_for :art do
  :css

  
%header.article-head

  .bg-img.full-width{'data-background-image' => imgpath('r_main.jpg')}
    %h1.projekt-header Bebe

%section
  .section-inner
    %h2.align-center Heading 1
    %h4.align-center SubHeading
    %br/
    %br/
    %p.align-center.em Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repudiandae fugiat, eius ullam perspiciatis cum adipisci consectetur laudantium reiciendis ratione officiis labore eos earum a fuga minus nemo, mollitia eaque?
    %h3 Heading 3

    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ex beatae sequi, quidem odit animi, tempora magni assumenda fugit sunt tenetur vero itaque officiis nam repellat aspernatur dicta deserunt perspiciatis.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi cupiditate, enim itaque fuga eaque possimus mollitia, nemo labore quos nihil nam alias! Possimus omnis aperiam quis inventore, labore eveniet et!
    %h2.align-center Heading 2
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis adipisci laborum ut magnam maxime voluptas asperiores cum minus ex vero veritatis minima, dolorem velit aut non, dolor, voluptatum aliquam labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate doloremque rerum maxime inventore suscipit, voluptatum consectetur, porro eaque accusantium, repellendus ipsa veritatis. In minima expedita quibusdam voluptas, nihil saepe culpa.
    %blockquote
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, neque vel assumenda suscipit eveniet sequi ipsa, laboriosam incidunt facilis repudiandae ipsum nostrum, iste tempore corporis sint eos quae aliquam, ad.
      %cite
        Bebe
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, dolores, commodi? Fugit eveniet vel deserunt molestias suscipit, reprehenderit doloremque delectus dolorem enim voluptas repellendus a debitis, explicabo numquam, quis. Nostrum.
    %h3 To bedzie heading numer trzy
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi sed tempora, veritatis voluptas! Totam numquam nesciunt aliquam quasi quidem in, reiciendis minus commodi, et exercitationem eveniet non aut, voluptate velit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore recusandae, beatae architecto explicabo doloremque facilis autem dolorem, libero provident. Eius tempore ea assumenda iure facilis quaerat tenetur similique necessitatibus quis?
    
    :markdown
      ### Heading 3
      ## Heading 2
      ### Heading 3
      #### Heading 4

      #### heading 4
      
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dignissimos alias ipsum quaerat reiciendis dolores, quod ducimus dolore labore consequuntur doloremque consequatur iste dicta cupiditate! Quia, explicabo, repellendus. Ad, obcaecati.

      + Lista 1 % Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit veniam, maiores aspernatur? Impedit vero, unde ipsum! Officia fugit suscipit magnam accusantium quod. Iusto sed, iste quos doloremque. Quaerat, veniam nostrum.
      + Lista 2
      + Lista 3

      adrian cielentano
      
      ## Adrian

      1. Lista 1
      2. Lista 2
      3. Lista 3

      #### Chapter 1
      ## Heading 2
    

%section.blue
  .section-inner
    %p.align-center.h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repudiandae fugiat, eius ullam perspiciatis cum adipisci consectetur laudantium reiciendis ratione officiis labore eos earum a fuga minus nemo, mollitia eaque?

%section
  .section-inner
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repudiandae fugiat, eius ullam perspiciatis cum adipisci consectetur laudantium reiciendis ratione officiis labore eos earum a fuga minus nemo, mollitia eaque?
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ex beatae sequi, quidem odit animi, tempora magni assumenda fugit sunt tenetur vero itaque officiis nam repellat aspernatur dicta deserunt perspiciatis.

%section.blue
  .section-inner
    .columns-2.grid-m.grid-m--gutters-l
      .grid-cell
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum dicta, fugit sequi laborum quo nemo quisquam accusantium, dolorum iure perferendis sit. Eum mollitia error, nesciunt optio doloremque facere asperiores laudantium.
      .grid-cell
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores maxime nulla vitae dicta, debitis, minima sapiente velit minus eum consequuntur possimus eius animi voluptatum molestias placeat pariatur quaerat reiciendis cupiditate.  

%section.grey
  .section-inner
    %br/
    %br/
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, aspernatur, blanditiis. Id quaerat dolores reiciendis dignissimos, odio veritatis asperiores ut et rem a alias quos iusto voluptas quasi tenetur non.    
    %br/
    %br/

%section
  .section-inner
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repudiandae fugiat, eius ullam perspiciatis cum adipisci consectetur laudantium reiciendis ratione officiis labore eos earum a fuga minus nemo, mollitia eaque?
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ex beatae sequi, quidem odit animi, tempora magni assumenda fugit sunt tenetur vero itaque officiis nam repellat aspernatur dicta deserunt perspiciatis.