---
title: Kim jest idealny klient twórców stron www
date: 2015-10-28
tags: example
summary: 
thumbnail: thumb.png
header: header--inverted header--borderbottom-full
author: Adrian
author_name: Adrian Sowirka
---

%header
  .section-inner  
    %h1.h2 Kim jest idealny klient twórców stron internetowych?

%section
  .section-inner
    = figure(:direct, 'thumb.png', nil, nil, class: "img-right")
    :markdown
      #### Idealny Klient:
        1. Rozumie swój biznes i swoich klientów.
        2. Nie przychodzi z gotowym rozwiązaniem, ale z problemem jaki chce rozwiązać za pomocą strony www.
        3. Umie odpowiedzieć na pytania:
          - dlaczego potrzebuje stworzyć/zmienić stronę,
          - co chce dzięki niej osiągnąć,
          - z kim chce się komunikować,
          - jakich akcji oczekuje od odbiorców,
          - jak chce być postrzegany,
          - jak zdefiniować sukces swojej strony.
        4. Jest odpowiedzialny za:
          - cele,
          - treść (co nie oznacza, że sam powinien napisać tekst; chodzi o to co chce przekazać),
          - decyzje - przed i w trakcie trwania projektu.
        5. Wie, że to co mu się podoba, niekoniecznie musi się podobać jego odbiorcom.    

      
    = br  
    %h4 A Ty? Jakim jesteś klientem?  

