---
title: Spraw by przestali ziewać, czyli jakich słów używac na stronach www
date: 2015-09-18
tags: example
summary: 
thumbnail: img-main-s.jpg
header: header--inverted header--borderbottom-full
author: Milena
---

%header
  .section-inner  
    %h1.h2 Spraw by przestali ziewać - czyli jakich słów używac na stronach www

%section
  .section-inner 
    = figure(:direct, 'website.png', nil, nil, class: 'img-right-outset')  
    %p Właściciele stron internetowych odczuwają silną - w pełni uzasadnioną zresztą - potrzebę, by pokazać siebie i swoje usługi od jak najlepszej strony. Problem z zaspokojeniem tej potrzeby pojawia się jednak już w momencie wyboru słów, które miałyby spełnić to zadanie. Bardzo często bowiem zdarza się, że użyte na stronie www sformułowania należą do kategorii, którą ja nazywam „niewidzialnymi słowami”.
     
    %h3 Co to są niewidzialne słowa? 

    %p Są to słowa i zwroty, które czytający świadomie pomija i nie zwraca na nie uwagi, ponieważ nie mają one dla niego kompletnie żadnego znaczenia. Krótko mówiąc: są to zwroty tak oklepane, że już dawno przestały budzić emocje, a ich znaczenie jest zupełnie obojętne dla czytającego.

    %p Takie zwroty można podzielić przynajmniej na dwie kategorie:
    
    %h4 1. Przymiotniki
    %p A zwłaszcza wszelkie „pieśni pochwalne” i superlatywy oraz ich przesadne nagromadzenie w zdaniu. „Świadczymy profesjonalne usługi na najwyższym poziomie, oferując Państwu innowacyjny produkt oraz indywidualne podejście do każdego klienta.” Brzmi znajomo? To dlatego, że jest niestety tak powszechne.
    %h4 2. Pospolite sformułowania
    %p Powszechna obecność na ogromnej liczbie stron internetowych spowodowała „wypłukanie” tych słów z ich znaczenia. Już dawno przestały one budzić jakąkolwiek ciekawość, refleksję i być rozumiane w sposób, w jaki twórcy tekstu chcieliby, żeby były.  

       
    %p Oprócz przykładu z punktu 1, niewidzialne zwroty to też np.
    %ul
      %li “dynamicznie rozwijająca się firma”
      %li “zaawansowane rozwiązanie”
      %li “najwyższa jakość”
      %li “najlepsza receptura”
      %li “wyselekcjonowane składniki”
      %li “bogate doświadczenie”
      %li “najnowocześniejszy proces”
      %li “indywidualne podejście do każdego klienta”
      %li itd.

    %h3 Irytujący problem
    %p Jacob Nielsen - guru użyteczności i user experience - już w 1997 roku zapytany o to, jak ludzie czytają w internecie, odpowiedział „W ogóle!” (o tym, jak tworzyć teksty na strony internetowe piszę <a href="http://milush.pl/blog/jak-pisac-tresci-na-strony-internetowe/" target=_blank>tutaj</a>).
    %p Wraz ze zidentyfikowaniem zjawiska skanowania tekstu podczas czytania w internecie oraz tzw. ślepoty banerowej (po raz pierwszy opisana w 1998 roku) problem niewidzialnych słów nabiera realnego znaczenia. Sprowadza się on już nie tylko do omijania wzrokiem nieinteresujących sformułowań, ale stanowi coraz bardziej dokuczliwą i irytującą przeszkodę w szybkim znalezieniu poszukiwanej informacji.
    %p Odwiedzający stronę naprawdę nie odczuwa głębszej refleksji, czytając, że jesteś firmą „z wieloletnim doświadczeniem, świadczącą usługi najwyższe jakości”. On przede wszystkim nie ma czasu. Chce szybko wiedzieć, czym się zajmujesz i czy możesz rozwiązać jego problem.

    %h3 Wyróżnij się, albo zgiń
    %p Banalne sformułowania na stronie internetowej sprawiają, że zlewasz się z całą masą swojej konkurencji. Walka o uwagę klienta to tak naprawdę sekundy. Zawsze warto poświęcić nieco więcej czasu na zredagowanie tekstu o swoim biznesie, ze szczególnym zwróceniem uwagi na unikanie banałów.  

-# %section.bg-grey.align-middle.bg-height-2
-#   .section-inner.outset  
-#     .columns.font-size-18
-#       .column-1
-#         %h4 1. Przymiotniki
-#         %p A zwłaszcza wszelkie ‘pieśni pochwalne’ i superlatywy oraz ich przesadne nagromadzenie w zdaniu. “Świadczymy profesjonalne usługi na najwyższym poziomie, oferując Państwu innowacyjny produkt oraz indywidualne podejście do każdego klienta.” Brzmi znajomo? To dlatego, że jest niestety tak powszechne.
-#       .column-2
-#         %h4 2. Pospolite sformułowania
-#         %p Powszechna obecność na ogromnej liczbie stron internetowych spowodowała ‘wypłukanie’ tych słów z ich znaczenia. Już dawno przestały one budzić jakąkolwiek ciekawość, refleksję i być rozumiane w sposób, w jaki twórcy tekstu chcieliby, żeby były.
