.btn {
	// display: inline-block;
  display: block;
	outline: none;
	border:none;
	// color:$link-color;
	font-family: $sans-font;
	text-shadow:none;
	padding: 0;
	font-weight: 400;
	line-height: 1;
	cursor:pointer;
	text-align: center;
	transition: all .4s;
	white-space:nowrap;
	box-shadow:none;

}

.btn-default {
  font-size: inherit;
  letter-spacing: .05em;
  padding-top: 22px;
  padding-bottom: 19px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 1em;
  padding-right: 1em;
  border:6px solid transparent;
  @include mq($bp1){
    padding-left: 2em;
    padding-right: 2em;
  }
}

.btn-primary {
	color:$link-color;
  border-color:$link-color;
  &.btn-effect {
    &:hover,
    &:focus,
    &:active {
      color:#fff;
    }
    &:before {
      background-color:$link-color;
    }
  }
}

.btn-secondary {
  color:$white-color;
  border-color:$white-color;
  &.btn-effect {
    &:hover,
    &:focus,
    &:active {
      color:$link-color;
    }
    &:before {
      background-color:$white-color;
    }
  }
}

.btn-effect {
	position: relative;
	overflow: hidden;
	transition: border-color 0.3s, color 0.3s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  // transform: translateZ(0);

}
.btn-effect::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform-origin: 0% 100%;
	// transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  // background-color: $link-color;
}



.btn-effect:hover::before,
.btn-effect:focus::before,
.btn-effect:active::before
{
	opacity: 1;
	// background-color: $link-color;
	transform: rotate3d(0, 0, 1, 0deg);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn-effect span {
  position: relative;
}


.cta-button {
  position: relative;
  // padding: 1px; //zeby nie bylo szpary

  // z-index: 1;
  display: inline-block;
  text-align: center;
  position: relative;
  font-style: normal;
  cursor:pointer;
  margin-top: 70px;
  font-size:15px;
  @include mq($bp1){
    font-size: 18px;
  } 
  &:hover {
    .btn-shadow {
      transform: translateX(0) translateY(0) translateZ(0);
      border-color:transparent;
    }
  }
}

.btn-shadow {
  position: absolute;
  content:'';
  width: 100%;
  position: absolute;
  height: 100%;
  border:6px solid #e5e5e5;
  transform: translateX(10px) translateY(10px) translateZ(0);
  transition: all .3s;
  top: 0;
  left: 0;
  z-index: -2;
}
