p,
p>a,
li {
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;	
}

p {
	// font-size: 24px;
}

em {
  font-style:italic;
  font-weight: 300 !important;
  // -webkit-font-smoothing: auto !important;
  // -moz-osx-font-smoothing: auto !important;
}    

.font-18,
ul.font-18 li {
	font-size: 16px;
	@include mq($bp2){
		font-size: 18px;
	} 
}

.font-20,
ul.font-20 li {
	font-size: 18px;
	@include mq($bp1){
		// font-size: 18px;
	} 
	@include mq($bp2){
		font-size: 20px;
	} 
	@include mq($bp3){
		// font-size: 20px;
	} 
}



	p {
		line-height: 1.5;
		@include mq($bp2){
			line-height: 1.6;
		} 
	}


.font-22 >p,
.font-22 li
{
font-size: 20px;
	@include mq($bp1) {
		// font-size: 20px;
	} 
	@include mq($bp2){
		font-size: 22px;
	} 
	@include mq($bp4) {
		// font-size: 24px;
	} 
}

.font-40 {
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 0 !important;
	@include mq($bp2){
		font-size: 40px;
	}
}

.emphasis {
	// color: $primary-color;
	font-weight: 700;
}

b,
strong,
.strong {
	font-weight: bold;
}


ul,
ol {
	list-style: none;

}

.ul-inline {
	display: inline-block;
	li {
		display: inline-block;
		margin-right: .2em;
		&:last-child {
			margin-right: 0;
		}
	}
}


blockquote {
    // font-style:italic;
    font-style:normal;
    // border-left: 1px solid gray;
    // color: gray;
    
    // color:#FFF3A9;

	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
		font-weight: 300;
    // padding-left: 65px;
    
    
    font-style: italic;
    position: relative;
    // font-size: 20px;
    // margin:1.5em 0;
    background:url(/images/quote.svg) top left no-repeat;
    background-size:30px auto;
		color:#999;
    padding-left: 45px;
    margin-left: -45px;
    margin-bottom: 30px;
    // padding-bottom: 3px;
	// padding-left: 1em;
	// margin-bottom: 1em;
}


cite {
	display: block;
	margin-top:5px;
	font-weight: 400;
	font-style:normal;
	font-size: 14px;
	color:$heading-color;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;	
}

dl {
	margin-bottom: 1em;
}

.dl-inline {
	dd {
		display: inline;
		margin: 0;
	}
	dd:after {
		display: block;
		content:"";
	}
	dt {
		display: inline-block;
		min-width:100px;
	}
}

dt {
	color:#000;
}
