em {
  font-style:italic;
  font-weight: 300 !important;
}    

.font-large {
  font-size: 20px;
  @include mq($bp1) {
    font-size: 24px;
  } 
}
.font-larger {
  font-size: 20px;
  @include mq($bp1) {
    font-size: 24px;
  } 
  @include mq($bp2){
    font-size: 28px;
  } 
}


b,
strong,
.strong {
	font-weight: bold;
}


ul,
ol {
	list-style: none;
}

.ul-inline {
	display: inline-block;
	li {
		display: inline-block;
		margin-right: .2em;
		&:last-child {
			margin-right: 0;
		}
	}
}


blockquote {
  font-style:normal;
	font-weight: 300;
  font-style: italic;
  position: relative;
  background:url(/images/quote.svg) top left no-repeat;
  background-size:30px auto;
	color:#999;
  padding-left: 45px;
  margin-left: -45px;
  margin-bottom: 30px;
}


cite {
	display: block;
	margin-top:5px;
	font-weight: 400;
	font-style:normal;
	font-size: 14px;
	color:$heading-color;
}

dl {
	margin-bottom: 1em;
}

.dl-inline {
	dd {
		display: inline;
		margin: 0;
	}
	dd:after {
		display: block;
		content:"";
	}
	dt {
		display: inline-block;
		min-width:100px;
	}
}

dt {
	color:#000;
}
