//clearfix 
.group {
	@include clearfix;
}


.ct {	
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width:$max-width;
		padding-left:10px; 
		padding-right: 10px;
		@include mq($bp1){
			padding-left:40px;
			padding-right:40px;
		}
}

.ct--full {
	max-width: none;
}

// @media all and (max-width: 1023px ) {
//     head {
//         font-family: menuscreen;
//         // display: none;
//     }
// }

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	// padding-top: 30px;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	// width: 100%;
	// height: auto;
	// margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


img {
// width:100%;
max-width : 100%; //pozniej zmienic na container
border-width : 0;
vertical-align : middle;
-ms-interpolation-mode : bicubic; }

.img-inline {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	
	
}

.img-right {
		display: block;
		margin-left: auto;
		margin-right: auto;
	@include mq($bp1){
		float: right;
		// padding-left: 1.5em;
		// margin-right: -150px;
	}
}

.left {
	float: left;
}
.right {
	float: right;
}

.a-right {
	text-align: right;
}

.a-center {
	text-align: center;
}


hr {
	display: block;
	margin: 0;
	margin-right: auto;
	height:6px;
	border:0;
	width: 50px;
	background: $heading-color;
	margin-top: 30px;
	margin-bottom: 30px;

}

hr.inverted {
	background:#fff;
}

hr.inline {
	display: inline-block;
}
hr.thin {
	height: 1px;
}

hr.full {
	background:lighten($primary-color,30);
	width: 100%;
}

strong {
	// font-weight: 900;
	// font-weight: 400;
	// text-transform: uppercase;
}


.v-center {
	// @include mq($bp1){
		display: table;
		width: 100%;
	// }	
}

.v-centered {
	// @include mq($bp1){
		display: table-cell;
		vertical-align: middle;
	// }
}


::-webkit-input-placeholder {
   color:#bbb;
}

// :-moz-placeholder { /* Firefox 18- */
//    color:#aaa; 
// }

::-moz-placeholder {  /* Firefox 19+ */
   color:#bbb;
}

:-ms-input-placeholder {  
   color:#bbb;
}

.nomg {
	margin-bottom: 0;
  }

.bullet-list {
	margin-top: 1em;
	margin-bottom: 2em;
	@include mq($bp2){
		margin-bottom: 3em;
	} 
}
.bullet-list li {
	position: relative;
	padding-left: 20px;
	margin-bottom: .25em;

	&:last-child {
			margin-bottom: 0;
		}
	&:before {
		// content:'• ';
		content:'\2022';
		position: absolute;
		left: 0;
		color:$primary-color;
	}
}



// .visuallyhidden {
//     border: 0;
//     clip: rect(0 0 0 0);
//     height: 1px;
//     margin: -1px;
//     overflow: hidden;
//     padding: 0;
//     position: absolute;
//     width: 1px;
// }  
