---
title: 404 - da się prościej
directory_index: false
---

	
	<section class="section">
		<div class="container--wide">	
			<div class="content-404">
					<h2>Ups!</h2>
					<p>Coś poszło nie tak. Zdaje się, że nie trafiłeś do miejsca którego szukasz. Może powienieneś wrócić do naszej <a href="/" >strony głównej</a> i&nbsp;spróbować ponownie. </p>			
			</div>	
		</div>	
	</section>




<% content_for :four do %>
	<link rel="stylesheet" href="/css/style.css">
<% end %>