---
title: 404 - da się prościej
directory_index: false
---
	<%= partial 'partials/components/header', :locals => { :header_class => "" }%>
	
	<section class="section">
		<div class="ct">
			<div class="section-content section-content--middle font-22">
				<h2>Ups!</h2>
				<p>Coś poszło nie tak. Zdaje się, że nie trafiłeś do miejsca którego szukasz. Może powienieneś wrócić do naszej <a href="/" >strony głównej</a> i&nbsp;spróbować ponownie. </p>
			</div>
		</div>	
	</section>

	<%= partial 'partials/components/footer' %>