---
title: da się prościej - upraszczanie stron www, design i copywriting
desc: Upraszczanie komunikacji na stronach internetowych. Planowanie i projektowanie przejrzystych, prostych i skutecznych stron www które sprzedają.
---


= partial 'partials/components/_header.haml' do
  %h1 
    upraszczamy  
    %br/
    przekaz
    %br/
    na stronach
    %br/
    internetowych  

.content
  %section.section-info
    .container--wide
      %p <span>da się prościej</span> nie jest kolejną agencją typu full-service. By robić coś naprawdę dobrze, skupiamy się na jednej rzeczy -  odświeżaniu stron www. Łączymy design i&nbsp;copywriting by pomóc Ci odkryć to co najlepsze w Twojej ofercie i przekazać to ludziom, do których chcesz dotrzeć. Tak po prostu.
      -# Prostota to zrozumienie, w tym tkwi nasza siła. W pierwszej kolejnosci chcemy zrozumiec twoj biznes, twoich odbiorcow i to co chcesz osiagnac. W efekcie tworzymy prosta i zrozumiala wiadomosc dla odwiedzajacych, tak by podjeli dzialania jakich od nich oczekujesz. 
  %section.section-why
    .container--wide
      .columns-text-img

      .grid-m.grid-m--1of2
        .grid-cell.block-img.block-img-1
          %img{:src => "https://unsplash.it/500/500?random", :alt => ""}/
          -# %img{:src => "http://placehold.it/500x500", :alt => ""}/
        .grid-cell.block-heading.v-center
          %h2.mg-0.v-centered
            Jesteś świetny w tym co robisz i znasz swój biznes lepiej niż ktokolwiek inny&hellip; 
            %br/
            %br/
            ale czy Twoja strona przedstawia Cię tak jak powinna?
      .grid-m.grid-m--1of2
        .grid-cell.block-text 
          %p 
            %strong Być może masz stronę,
            która wyróżnia się z tłumu pod względem wizualnym. To oczywiście ważne. Problem tylko w tym, że nie przynosi ona korzyści jakich się spodziewałeś, nie przyciąga nowych klientów albo co gorsze - odstrasza aktualnych. Wiemy co może być przyczyną.
          %h3 
            Strona działa na ludzi
            %br/
            podobnie jak film
          %p Jeśli w filmie brakuje ciekawej, intrygującej fabuły, wszystkie inne elementy - świetne zdjęcia, efekty specjalne czy znani aktorzy - są nieistotne. Z drugiej strony, słaba prezentacja dobrej historii nie przykuje uwagi widzów lub szybko ich zniechęci.
          %p
            %strong Ludzie odwiedzają strony z powodu treści.
            Nie przychodzą po to by zobaczyć piękne czcionki, kolory czy fantazyjne animacje, ale po informacje które odpowiadają na ich pytania i rozwiązują ich problemy. Dlatego tak ważny jest prosty i zrozumiały, ale też interesujący przekaz.
          %p To co mówisz jest ważne, ale jak to powiesz jest równie ważne. Design i treść muszą ze sobą współgrać, tak żeby uwaga skupiła się na tym co najważniejsze, czyli na Twojej ofercie. <strong>Liczy sie pełen obraz.</strong>
        .grid-cell.block-img
          %img{:src => "https://unsplash.it/500/500/?random", :alt => ""}/
          -# %img{:src => "http://placehold.it/500x500", :alt => ""}/
  %section.section-cta
    .container--wide
      %hr.inline/
      %h1.cta-title
        Stworzyliśmy
        %br/
        da się prościej
        %br/
        by odkryć i pokazać 
        %br/
        lepszy obraz
        %br/
        Twojego biznesu  
      = partial 'partials/components/button', :locals => {btn_link: '/uslugi'} do
        Zobacz jak możemy Ci pomóc
      
        
