---
title: da się prościej - upraszczanie stron www, design i copywriting
desc: Upraszczanie komunikacji na stronach internetowych. Planowanie i projektowanie przejrzystych, prostych i skutecznych stron www które sprzedają.
---

= partial 'partials/components/header', :locals => { :header_class => "header--absolute" }
= partial 'partials/components/home/hero'
= partial 'partials/components/home/sections'
= partial 'partials/components/footer'

