---
title: Da Się Prościej - USLUGI
desc: Opis
---
	<%= partial 'partials/components/header', :locals => { :header_class => "" }%>
	
	

	<section class="section section-kto">
		<div class="ct">
			<div class="section-content">
				<img class="img-about" src='/images/about.png' alt="">		
				<!-- <img class="img-about" src='/images/about_small.png' srcset="/images/about.png 500w" alt="">	 -->
				<hr>
				<div class="grid-s grid-s--gutters grid-l--gutters-xl">
					
					<div class="kto-item grid-cell">
						<p class="font-24"><strong>Jesteśmy</strong> dwuosobowym zespołem z Gdańska. Jeden web designer i jeden copywriter. Łączymy umiejętności biznesowe, design, marketing, copywriting i lata wiedzy o internecie, by odkryć przed Twoimi odbiorcami to co najlepsze i najciekawsze w Twojej ofercie.</p>
					</div>
					<div class="kto-item grid-cell">
						<p class="font-24"><strong>Naprawiamy połączenie design-tekst.</strong> Wierzymy, że tylko umiejętne zgranie tych dwóch elementów czyni strony internetowe skutecznymi.</p>
					</div>
				</div>
			</div>	
		</div>	
	</section>



	<section class="section section-bio">
		<div class="ct">
			<div class="section-content">
				<div class="grid-s grid-s--gutters">
					<div class="bio-img grid-cell">
						<img src="/images/milena.jpg" alt="">
						<span class="bio-name">Milena</span>
						<a href="http://milush.pl" target="_blank" class="bio-link">milush.pl</a>
					</div>
					<div class="bio-info grid-cell">
						<p class="font-18">“Jestem web copywriterem, z zainteresowaniami w kierunku marketingu, reklamy, doradztwa biznesowego, psychologii zachowań konsumentów i nowoczesnego podejścia do obsługi klienta. W biznesie wyznaję ideę human to human. Uwielbiam prostotę, harmonię i użyteczność w każdej dziedzinie. Jestem miłośniczką literatury z zakresu zarządzania, rozwoju osobistego oraz biografii i książek podróżniczych.”</p>
					</div>
					<div class="bio-img grid-cell">
						<img src="/images/adrian.jpg" alt="">
						<span class="bio-name">Adrian</span>
						<a href="http://dearty.com" target="_blank" class="bio-link">dearty.com</a>
					</div>
					<div class="bio-info grid-cell">
						<p class="font-18">“Tworzę strony, ale nie ograniczają mnie role typu UX designer czy front-end developer. Dążę do tego by zrozumieć każdy aspekt tego co tworzę - co to powinno robić, jak się to czyta, jak wygląda i jak jest zbudowane. Wszystko co może mieć wpływ na poprawienie doświadczenia dla użytkowników. Myślę, piszę, projektuję, koduję.”</p>
					</div>
				</div>
			</div>	
		</div>	
	</section>

	<section class="section dsp-quote">
		<div class="ct">
			<hr class="inline">
			<p>To jak tworzymy, definiuje to kim jesteśmy i odzwierciedla to w co wierzymy.
			Naszym najbardziej wartościowym produktem jest nasz sposób myślenia.</p>
		</div>
	</section>


	<%= partial 'partials/components/footer' %>