---
title: da się prościej - realizacje
blog: projekty
header:
---


%section.section.section-projekty
  .container--wide
    - page_articles.each_with_index do |article, i|
      %a{:href => "#{article.url}"}
        %article{class: "projekt #{article.data.projekt_class}"}
          %h1=article.data.title_index  
          -# = link_to("Zobacz", article.url, :class => "btn btn-cta")