<h1>Heading 1 - to jest heading typu 1</h1>
<hr>
<h2>Heading 2 - to jest headingh typu 2</h2>
<hr>
<h3>Heading 3 - to jest heading typu 3</h3>
<hr>
<h4>Heading 4 - to jest heading typu 4</h4>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptatum alias, nihil totam vero nostrum eveniet fugiat qui, dolorem tempora, laudantium labore odio excepturi delectus earum reprehenderit velit, itaque minus?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sequi veritatis velit, animi ipsum, atque quaerat, consectetur quisquam pariatur repellat molestias alias eos dolor ipsam? Deserunt impedit dignissimos nulla minus!</p>

<hr>
<p class="font-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, eaque sapiente iure ipsa quibusdam dolorum ab dolores laborum voluptas, velit, distinctio amet! Nesciunt aut corporis quo iusto? Eveniet, praesentium, ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius neque excepturi ea quaerat. Saepe quidem eveniet reiciendis dolore. Quidem magni voluptas nostrum nesciunt praesentium, ducimus fugiat sit dignissimos harum molestias?</p>
<hr>
<p class="font-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, eaque sapiente iure ipsa quibusdam dolorum ab dolores laborum voluptas, velit, distinctio amet! Nesciunt aut corporis quo iusto? Eveniet, praesentium, ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, sit pariatur velit mollitia atque saepe tempora sapiente deserunt rem odio, tempore cumque sint praesentium repellendus repellat fugiat quisquam! Neque, sed.</p>