---
title: da się prościej - usługi
---
	<%= partial 'partials/components/header', :locals => { :header_class => "" }%>


	<section class="section section-help">
		<div class="ct">
			<div class="section-content section-content--middle font-22">		
				<h2>Planujesz przebudować stronę i chcesz aby jej nowa wersja:</h2>
				<ul class="bullet-list">
					<li>skutecznie przekonywała odbiorców do Twojej oferty</li>
					<li>miała treść i układ informacji które są dopasowane do potrzeb Twoich odbiorców</li>
					<li>dobrze odzwierciedlała to kim jesteś i co robisz</li>
					<!-- <li>świetnie działała na każdym urządzeniu na którym jest wyświetlana</li> -->
				</ul>

				<p><strong>Możemy Ci w tym pomóc.</strong> W zależności od potrzeby, odświeżymy lub gruntownie przebudujemy Twoją stronę internetową. Uprościmy przekaz zarówno w zakresie treści jak i warstwy wizualnej, by skupić się na tym co najcenniejsze w Twoim biznesie.</p>
				<p>Innymi słowy, pomożemy Ci przekazać odpowiednie informacje w odpowiedniej ilości i do właściwych osób. Tak byś miał z tego oczekiwane korzyści.</p>
				
				<h2>Otrzymasz stronę, która:</h2>
				<div class="features grid-s grid-s--gutters-l ">
					<div class="features-item grid-cell">
						<h4>Odpowiada</h4>
						<p>na pytania twoich obiorców, rozwiewa ich wątpliwości i inspiruje do podjęcia akcji</p>
					</div>
					<div class="features-item grid-cell">
						<h4>Buduje</h4>
						<p>zaufanie i lojalność, zamieniając odwiedzających w klientów, a klientów w fanów</p>
					</div>	
					<div class="features-item grid-cell">
						<h4>Wzmacnia</h4>
						<p>wiarygodność i wizerunek Twojego biznesu</p>
					</div>					
					<div class="features-item grid-cell">
						<h4>Czyni</h4>
						<p>rzeczy skomplikowane prostymi i łatwymi w użyciu</p>
					</div>

				</div>
			</div>	
		</div>	
	</section>
<!-- 
	<section class="section section-strony">
		<div class="ct">
			<div class="section-content">
				<h2>Otrzymasz stronę, która:</h2>
					<div class="features grid-s grid-s--gutters-l ">
						<div class="features-item grid-cell">
							<h4>Wzmacnia</h4>
							<p>wiarygodność i wizerunek Twojego biznesu</p>
						</div>
						<div class="features-item grid-cell">
							<h4>Odpowiada</h4>
							<p>na pytania twoich obiorców, rozwiewa ich wątpliwości i inspiruje do podjęcia akcji</p>
						</div>
						<div class="features-item grid-cell">
							<h4>Buduje</h4>
							<p>zaufanie i lojalność, zamieniając odwiedzających w klientów, a klientów w fanów</p>
						</div>						
						<div class="features-item grid-cell">
							<h4>Czyni</h4>
							<p>rzeczy skomplikowane prostymi i łatwymi w użyciu</p>
						</div>

					</div>	
				</div>
			</div>	
		</div>	
	</section> -->

	<section class="section section-proces">
		<div class="ct">
			<div class="section-content">
				<h2>A robimy to tak</h2>
				<!-- <p>Zapomniej o lorem ipsum, szablonach, nudnym, suchym tekście i warstiwe wizualnej która nie pasuje do Twojego biznesu.</p> -->

				<div class="grid-s grid-m--gutters-xxl">
					<div class="grid-cell proces-head">
						<span class="proces-number">01</span>
						<h3 class="proces-title">Na początku</h3>
						<span class="proces-subtitle">Strategia i analiza</span>
					</div>	
					<div class="grid-cell proces-info">
						<p>Wszystko zaczyna się od Twojej historii:</p>
						<ul class="bullet-list">
							<li>Dlaczego robisz to co robisz?</li>
							<li>Co czyni Cię unikalnym?</li>
							<li>Czyją uwagę chcesz przyciągnąć?</li>
							<li>Czego chcą lub potrzebują Twoi odbiorcy?</li>
							<li>Co chcesz osiągnąć?</li>
						</ul>
						<p>W pełni zanurzamy się w świecie Twojego biznesu, badamy aktualne trendy, analizujemy Twoją konkurencję i rynek na którym działasz. Docieramy do sedna tego co sprawia, że Twoja oferta jest wyjątkowa.</p>
					</div>
					
					<div class="grid-cell proces-head">
						<span class="proces-number">02</span>
						<h3 class="proces-title">Następnie</h3>
						<span class="proces-subtitle">Treść i struktura</span>
					</div>	
					<div class="grid-cell proces-info">
						<p>Przeglądamy i dostosowujemy dotychczasową zawartość strony . W zależności od potrzeb Twoich odbiorców tworzymy również nową treść. Projektujemy nowy układ informacji i interakcje z użytkownikami.</p>
					</div>

					<div class="grid-cell proces-head">
						<span class="proces-number">03</span>
						<h3 class="proces-title">By w końcu</h3>
						<span class="proces-subtitle">Design i technologia</span>
					</div>	
					<div class="grid-cell proces-info">
						<p>Prezentujemy treść w przejrzysty i zrozumiały sposób oraz opracowujemy właściwą oprawę wizualną dla Twojego biznesu. </p>
						<p>Budujemy stronę tak by była:</p>
						<ul class="bullet-list">
							<li>łatwa do znalezienia </li>
							<li>szybka<li>
							<li>responsywna (dostosowana do ekranu)</li>		
						</ul>
					</div>

					<div class="grid-cell proces-head">
						<span class="proces-number">04</span>
						<h3 class="proces-title">Ale to nie wszystko</h3>
						<span class="proces-subtitle">Efekty</span>
					</div>	
					<div class="grid-cell proces-info">
						<p>Po uruchomieniu strony, badamy jej efektywność. Mierzymy jej sukces, żebyś wiedział jak wiele zyskałeś dzięki tej inwestycji.</p>
					</div>
				</div>
			</div>	
		</div>	
	</section>

	<section class="section dsp-quote">
		<div class="ct">
			<hr class="inline inverted">
			<p>Pracujemy tak, jak chcielibyśmy, by pracowano dla nas. Twój sukces jest tak samo ważny dla Ciebie jak i dla nas - w&nbsp;końcu to również nasza reputacja.</p>
		</div>
	</section>

	<section class="section section-ways">
		<div class="ct ct--full">
			<div class="section-content">
				<h2>3 sposoby współpracy <span class="subhead">Wspólnie ustalimy co będzie dla Ciebie optymalne</span></h2>
				
				<!-- <div class="ways-content grid-m grid-m--gutters-xl grid-m--1of2 grid-l--1of3"> -->
				<div class="ways-content grid-s grid-s--gutters-l">
					<div class="ways-item grid-cell">
						<div class="ways-img">
							<img src="/images/way-1.svg" alt="">
						</div>	
						<h4>Tekst</h4>
						<p> Jesteś bardzo zadowolony z wyglądu swojej strony, ale wiesz że treść wymaga profesjonalnego spojrzenia z zewnątrz. Czasem wystarczą drobne zmiany by efekt był zaskakujący. Ocenimy, ulepszymy i stworzymy treść która połączy Twoje cele biznesowe z potrzebami Twoich odbiorców.  </p>
					</div>
					<div class="ways-item grid-cell">
						<div class="ways-img">
							<img src="/images/way-2.svg" alt="">
						</div>	
						<h4>Tekst + Design</h4>
						<p>Jeśli zmiany samego tekstu nie wystarczą, zaproponujemy nowy układ informacji i stworzymy lub usprawnimy warstwę wizualną tak, by dostarczyć Twój przekaz z większą skutecznością.  Pod warunkiem, że masz swojego programistę, który złoży to w całość. </p>
					</div>
					<div class="ways-item grid-cell">
						<div class="ways-img">
							<img src="/images/way-3.svg" alt="">
						</div>		
						<h4>Cały zestaw</h4>
						<p>Zajmiemy się Twoją stroną od początku do końca. W zakres wchodzi copywriting, design, wdrożenie strony i jeśli zajdzie taka potrzeba - system zarządzania treścią (CMS). Będziemy również wspierać Twoją stronę, włączając w to mierzenie efektów i bieżące usprawnienia.
</p>
					</div>
				</div>
			</div>	
		</div>	
	</section>

	<section class="section section-cta section-cta-uslugi">
		<div class="ct">
			<h2>Nadal zainteresowany?</h2>
			<p>To świetnie. Napisz nam kilka słów o swoim biznesie oraz dlaczego chciałbyś zmienić swoją stronę. Nie możemy się doczekać aż Cię poznamy.</p>
			<a href="mailto:mail@dasieprosciej.pl" class="btn btn-cta" id="cta-2">Napisz do nas</a>
		</div>	
	</section>
	


	<%= partial 'partials/components/footer'%>