---
title: da się prościej - usługi
---
-# - content_for :header do
-#   = partial 'partials/components/_header.haml', :locals => { :header_class => current_page.data.header } do
-#     %h1 
-#       Jak możemy Ci pomóc


.content
  %section.section.section-help
    .container--wide    
      .grid-m.grid-m--1of2.align-bottom
        .grid-cell.block-text
          %h2
            Planujesz przebudować stronę i&nbsp;chcesz aby jej nowa wersja:
          %ul
            %li skutecznie przekonywała odbiorców do Twojej oferty
            %li miała treść i układ informacji które są dopasowane do potrzeb Twoich odbiorców
            %li dobrze odzwierciedlała to kim jesteś i co robisz
          %h4 Możemy Ci w tym pomóc
          %p  W zależności od potrzeby, odświeżymy lub gruntownie przebudujemy Twoją stronę internetową. Uprościmy przekaz zarówno w zakresie treści jak i warstwy wizualnej, by skupić się na tym co najcenniejsze w Twoim biznesie.
        .grid-cell.block-img.block-img--help          
          %img{:src => "/images/uslugi-1.jpg", :alt => ""}/
      .grid-m.grid-m--1of2
        .grid-cell.block-img.block-img--simplify
          
        .grid-cell.block-text
          %h2
            Upraszczamy
          %p
            Skupiamy się na Twoich mocnych stronach i usuwamy wszystko to co zbędne, by pokazać Twoim odbiorcom <strong> nie to co chcesz im sprzedać, ale to co chcieliby od Ciebie kupić</strong>.
          %p
            W upraszczaniu nie chodzi o mniej, ale o <strong>wystarczająco</strong>. Wystarczająco by Twoi odbiorcy zrozumieli to co chcesz im przekazać i podjęli działania jakich od nich oczekujesz. To oni wyznaczają granicę prostoty.
  %section.section.section-get
    .container--wide
      %h2 Otrzymasz stronę, która:
      .grid.grid-m--1of4.grid-s--1of2.grid--justify
        .get-item
          .icon-block.icon-odpowiada
            %span.effect-shine
          .get-item-inner
            %h3 Odpowiada
            %p na pytania Twoich odbiorców, rozwiewa ich wątpliwości i&nbsp;inspiruje do podjęcia akcji
        
        .get-item
          .icon-block.icon-wzmacnia
            %span.effect-shine
          .get-item-inner
            %h3 Wzmacnia
            %p wiarygodność i wizerunek Twojego biznesu
        .get-item 
          .icon-block.icon-buduje  
            %span.effect-shine    
          .get-item-inner
            %h3 Buduje
            %p zaufanie i lojalność, zamieniając odwiedzających w klientów, a&nbsp;klientów w fanów         
        .get-item
          .icon-block.icon-czyni       
            %span.effect-shine
          .get-item-inner
            %h3 Czyni
            %p rzeczy skomplikowane prostymi i łatwymi w użyciu         
          


  %section.section.section-proces
    .container--wide
      %h2.section-proces-title Nasz proces w skrócie
      .grid-s.grid-s--1of2
        .grid-cell.proces-item
          .proces-item--inner
            .proces-header.proces-first{"data-number" => "01"}             
              %h3.proces-title Na początku
              %span.proces-subtitle Strategia i analiza          
            %p Wszystko zaczyna się od Twojej historii:
            %ul
              %li  Dlaczego robisz to co robisz?
              %li Co czyni Cię unikalnym?
              %li Czyją uwagę chcesz przyciągnąć?
              %li Czego chcą lub potrzebują Twoi odbiorcy?
              %li Co chcesz osiągnąć?
            %p W pełni zanurzamy się w świecie Twojego biznesu, badamy aktualne trendy, analizujemy Twoją konkurencję i rynek na którym działasz. Docieramy do sedna tego co sprawia, że Twoja oferta jest wyjątkowa.  

        .grid-cell.proces-item
          .proces-item--inner
            .proces-header{"data-number" => "02"}             
              %h3.proces-title Następnie
              %span.proces-subtitle Treść i struktura
            %p Przeglądamy i dostosowujemy dotychczasową zawartość strony . W zależności od potrzeb Twoich odbiorców tworzymy również nową treść. Projektujemy nowy układ informacji i interakcje z użytkownikami.
        
        .grid-cell.proces-item
          .proces-item--inner
            .proces-header{"data-number" => "03"} 
              %h3.proces-title By w końcu
              %span.proces-subtitle Design i technologia
            %p Prezentujemy treść w przejrzysty i zrozumiały sposób oraz opracowujemy właściwą oprawę wizualną dla Twojego biznesu.
            %p.strong Budujemy stronę tak by była:
            %ul
              %li łatwa do znalezienia 
              %li szybka
              %li responsywna (dostosowana do ekranu)
        
        .grid-cell.proces-item
          .proces-item--inner
            .proces-header{"data-number" => "04"} 
              %h3.proces-title Ale to nie koniec
              %span.proces-subtitle Efekty
            %p Po uruchomieniu strony, badamy jej efektywność. Mierzymy jej sukces, żebyś wiedział jak wiele zyskałeś dzięki tej inwestycji.       
    
  %section.section.dsp-quote
    .container--wide
      %p Pracujemy tak, jak chcielibyśmy, by pracowano dla nas. Twój sukces jest tak samo ważny dla Ciebie jak i dla nas - w&nbsp;końcu to również nasza reputacja.      

  %section.section.section-ways
    .container--wide
      %h2 3 sposoby współpracy     
      .grid-s.grid-s--1of2.grid-m--1of3.grid-s--gutters-xxl
        .grid-cell
          .ways-item
            %h3 Tekst
            %p Jesteś bardzo zadowolony z&nbsp;wyglądu swojej strony, ale wiesz że treść wymaga profesjonalnego spojrzenia z&nbsp;zewnątrz. Czasem wystarczą drobne zmiany by efekt był zaskakujący. Ocenimy, ulepszymy i&nbsp;stworzymy treść, która połączy Twoje cele biznesowe z&nbsp;potrzebami Twoich odbiorców.
        .grid-cell
          .ways-item.ways-item-2
            %h3 Tekst + Design
            %p Jeśli zmiany samego tekstu nie wystarczą, zaproponujemy nowy układ informacji i&nbsp;stworzymy lub usprawnimy warstwę wizualną tak, by dostarczyć Twój przekaz z&nbsp;większą skutecznością.  Pod warunkiem, że masz swojego programistę, który złoży to w&nbsp;całość.
        .grid-cell
          .ways-item.ways-item-3
            %h3 Cały zestaw
            %p Zajmiemy się Twoją stroną od początku do końca. W zakres wchodzi copywriting, design, wdrożenie strony i&nbsp;jeśli zajdzie taka potrzeba - system zarządzania treścią (CMS). Będziemy również wspierać Twoją stronę, włączając w&nbsp;to mierzenie efektów i&nbsp;bieżące usprawnienia.  
   
  %section.section.section-cta
    .container--wide
      %hr.inline/
      %h1.cta-title
        Nadal zainteresowany?
      %p.font-larger To świetnie. Napisz nam kilka słów o swoim biznesie oraz dlaczego chciałbyś zmienić swoją stronę. Nie możemy się doczekać aż Cię poznamy.  
      = partial 'partials/components/button', :locals => {btn_link: 'mailto:mail@dasieprosciej.pl'} do
        Napisz do nas


       