---
title: da się prościej - usługi
---

.content
  %section.section
    .container--wide
      -# .block.block--1of2.align-bottom        
      .grid-m.grid-m--1of2.align-bottom
        .grid-cell.block-text
          %h2
            Planujesz przebudować stronę i&nbsp;chcesz aby jej nowa wersja:
          %ul
            %li skutecznie przekonywała odbiorców do Twojej oferty
            %li miała treść i układ informacji które są dopasowane do potrzeb Twoich odbiorców
            %li dobrze odzwierciedlała to kim jesteś i co robisz
            -# %li świetnie działała na każdym urządzeniu na którym jest wyświetlana  
          %h4 Możemy Ci w tym pomóc
          %p  W zależności od potrzeby, odświeżymy lub gruntownie przebudujemy Twoją stronę internetową. Uprościmy przekaz zarówno w zakresie treści jak i warstwy wizualnej, by skupić się na tym co najcenniejsze w Twoim biznesie.
        .grid-cell.block-img
          %img{:src => "https://unsplash.it/500/500?random", :alt => ""}/
      .grid-m.grid-m--1of2
        .grid-cell.block-img
          %img{:src => "https://unsplash.it/500/500/?random", :alt => ""}/
        .grid-cell.block-text
          %h2
            Upraszczamy
          %p
            Skupiamy się na Twoich mocnych stronach i usuwamy wszystko to co zbędne, by pokazać Twoim odbiorcom <strong> nie to co chcesz im sprzedać, ale to co chcieliby od Ciebie kupić</strong>.
          %p
            W upraszczaniu nie chodzi o mniej, ale o <strong>wystarczająco</strong>. Wystarczająco by Twoi odbiorcy zrozumieli to co chcesz im przekazać i podjęli działania jakich od nich oczekujesz. To oni wyznaczają granicę prostoty.
  %section.section.section-get
    .container--wide
      %h2 Otrzymasz stronę, która:
      .grid.grid-m--1of3.align-middle
        .grid-cell.icon-block.icon-odpowiada
          
        .grid-cell.icon-text-block  
          %h3 Odpowiada
          %p na pytania Twoich odbiorców, rozwiewa ich wątpliwości i&nbsp;inspiruje do podjęcia akcji
      .grid.grid-m--1of3.align-middle
        .grid-cell
        .grid-cell.icon-block.icon-wzmacnia
        .grid-cell.icon-text-block        
          %h3 Wzmacnia
          %p wiarygodność i wizerunek Twojego biznesu
        
          
      .grid.grid-m--1of3.align-middle
        .grid-cell
        .grid-cell.icon-block.icon-buduje  
        .grid-cell.icon-text-block  
          %h3 Buduje
          %p zaufanie i lojalność, zamieniając odwiedzających w klientów, a&nbsp;klientów w fanów
        

      .grid.grid-m--1of3.align-middle
        
        .grid-cell.icon-block.icon-czyni
        .grid-cell.icon-text-block        
          %h3 Czyni
          %p rzeczy skomplikowane prostymi i łatwymi w użyciu
        .grid-cell
   
  %section.section.section-proces
    .container--wide
      .grid-m.grid-m--1of2.grid-m--gutters-xxl
        .grid-cell
          .proces-header.proces-first{"data-number" => "01"} 
            %h2.proces-title Na początku
            %span.proces-subtitle Strategia i analiza            
          %p Wszystko zaczyna się od Twojej historii:
          %ul
            %li  Dlaczego robisz to co robisz?
            %li Co czyni Cię unikalnym?
            %li Czyją uwagę chcesz przyciągnąć?
            %li Czego chcą lub potrzebują Twoi odbiorcy?
            %li Co chcesz osiągnąć?
          %p W pełni zanurzamy się w świecie Twojego biznesu, badamy aktualne trendy, analizujemy Twoją konkurencję i rynek na którym działasz. Docieramy do sedna tego co sprawia, że Twoja oferta jest wyjątkowa.  

        .grid-cell
          .proces-header{"data-number" => "02"}             
            %h2.proces-title Następnie
            %span.proces-subtitle Treść i struktura
          %p Przeglądamy i dostosowujemy dotychczasową zawartość strony . W zależności od potrzeb Twoich odbiorców tworzymy również nową treść. Projektujemy nowy układ informacji i interakcje z użytkownikami.
        
        .grid-cell
          .proces-header{"data-number" => "03"} 
            %h2.proces-title By w końcu
            %span.proces-subtitle Design i technologia
          %p Prezentujemy treść w przejrzysty i zrozumiały sposób oraz opracowujemy właściwą oprawę wizualną dla Twojego biznesu.
          %p.strong Budujemy stronę tak by była:
          %ul
            %li łatwa do znalezienia 
            %li szybka
            %li responsywna (dostosowana do ekranu)
        
        .grid-cell
          .proces-header{"data-number" => "04"} 
            %h2.proces-title Ale to nie koniec
            %span.proces-subtitle Efekty
          %p Po uruchomieniu strony, badamy jej efektywność. Mierzymy jej sukces, żebyś wiedział jak wiele zyskałeś dzięki tej inwestycji.       
           